<div class="form-login">
  <div class="row row-form">
    <%= simple_form_for [@service], html: {multipart: true} do |f| %>
      <div class="form-inputs col-xs-12">
        <%= f.input :name, placeholder: "Service name" %>
        <%= f.input :url, placeholder: "bbc.com,bbc.co.uk", label: "Domains, comma-separated (e.g. 'bbc.com,bbc.co.uk')"%>
        <%= f.input :wikipedia, placeholder: "Wikipedia link", hint: "This will be used to reference the Wikipedia link of the service. Used mostly for the API." %>
        <%- # Only allow marking services as completely reviewed if they are not new, because new services have no reviews yet: %>
        <% if @service.id && current_user.curator? %>
          <%= f.input :is_comprehensively_reviewed, label: "This service's ToS;DR review is <a href=\"https://github.com/tosdr/tosdr.org/wiki/checklist\" target=\"_blank\" title=\"Checklist for service reviews\">comprehensive</a> and ready for publication.".html_safe %>
        <% end %>
         
        <label>Logo (.png)</label>
        <%= f.file_field :logo, label: "Logo (.png)", accept: "image/png" %>
      </div>
      <%= invisible_captcha :description %>
      <div class="form-actions col-xs-4 col-sm-2 col-md-2">
          <%= link_to "Back", :back, class: "btn btn-default" %>
      </div>
      <div class="form-actions col-xs-8 col-sm-4 col-sm-offset-6 col-md-3 col-md-offset-7">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
