<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rating</th>
        <% if current_user && current_user.curator %><th scope="col"># Pending</th><% end %>
        <th scope="col" class="text-right">Documents</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="myTableBody">
    <% services.each do |s| %>
      <tr class="toSort" data-classification="<%= s.service_rating %>">
        <td>
          <%= link_to service_path(s) do %>
            <%= truncate(s.name, length: 30) %>
          <% end %>
        </td>
        <td><%= s.service_rating %> </td>
        <% if current_user && current_user.curator %><td><%= s.points.where(status: 'pending').count %></td><% end %>
        <td class="text-right">
          <% if @document_counts[s.id] && @document_counts[s.id] > 0 %>
            <%= link_to("Annotate", annotate_service_path(s), class: 'btn btn-primary') %>
          <% else %>
            <%= link_to "Add one!", new_document_path(service: s), title: "Add a new document to crawl", class: "btn btn-default" %>
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
