<div class="row mb15">
  <div class="col-sm-4">
    <%= form_tag(service_path(@service), method: :get) do %>
    <%= collection_select :topic, :id , Topic.all, :id, :title, {prompt: "Select a Topic"}, class: "custom-search-input search" %>

    <%= button_tag(type: 'search', class: "btn btn-default") do%>
      <span class="glyphicon glyphicon-search custom-text"></span>
    <% end %>
    <%= link_to '<i class="fas fa-undo-alt text-right"></i>'.html_safe, service_path(@service), class: "btn btn-default custom-text custom-padding" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% if current_user %>
    <span class="fr">
      <% if params[:scope].nil? %>
        <%= link_to 'All', service_path(scope: nil), class: 'btn btn-primary active' %>
        <%= link_to 'Pending', service_path(scope: 'pending'), class: 'btn btn-primary' %>
      <% elsif params[:scope] == 'pending' %>
        <%= link_to 'All', service_path(scope: nil), class: 'btn btn-primary' %>
        <%= link_to 'Pending', service_path(scope: 'pending'), class: 'btn btn-primary active' %>
      <% end %>
    <% end %>
    </span>
  </div>
  <div class="col-sm-4">
    <span class="fr">
      <button class="btn" id="orderByPoint">Order by Rating</button>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card-inline card-inline-header ">
      <div class="card-inline-item card-inline-point">
        Case
      </div>
      <div class="card-inline-item card-inline-rating">
        Rating
      </div>
      <div class="card-inline-item card-inline-status">
        Status
      </div>
      <div class="card-inline-item card-inline-options">
        Options
      </div>
    </div>
    <!-- actual card-inline -->
    <% if points.empty? %>
    <div class="card-inline">
      <div class="card-inline-item">
        No points found
      </div>
    </div>
    <% else %>
    <div id="points-table-container">
      <%= javascript_tag do %>
        function compareClassification(elementA, elementB) {
          if (
            !['good', 'neutral', 'bad', 'blocker'].includes(elementA.dataset.classification)
            || !['good', 'neutral', 'bad', 'blocker'].includes(elementB.dataset.classification)
          ) {
            return 0;
          }

          if (elementA.dataset.classification === elementB.dataset.classification) {
            return 0;
          }
          // Both do not have the same classification, so if one is good, that one is better:
          if (elementA.dataset.classification === 'good') {
            return -1;
          }
          if (elementB.dataset.classification === 'good') {
            return 1;
          }
          // Both do not have the same classification, and neither is good, so if one is neutral, that one is better:
          if (elementA.dataset.classification === 'neutral') {
            return -1;
          }
          if (elementB.dataset.classification === 'neutral') {
            return 1;
          }
          // Both do not have the same classification, and neither is good or neutral, so if one is bad, the other is a blocker:
          if (elementA.dataset.classification === 'bad') {
            return -1;
          }
          if (elementB.dataset.classification === 'bad') {
            return 1;
          }
        }

        document.getElementById('orderByPoint').addEventListener("click", (event) => {
          let elems =  document.querySelectorAll(".card-point");
          // convert nodelist to array
          var array = [];
          for (var i = 0; i < elems.length; i++) {
            array[i] = elems[i];
          }

          // perform sort depending on classname
          if(event.currentTarget.className=="btn btn-success"){
            array.sort((a, b) => compareClassification(b, a));
            event.currentTarget.classList.remove("btn-success");
            event.currentTarget.classList.add("btn-danger");
          }
          else if(event.currentTarget.className== "btn btn-danger"){
            array.sort(compareClassification);
            event.currentTarget.classList.remove("btn-danger");
            event.currentTarget.classList.add("btn-success");
          }
          // join the array back into HTML
          var output = "";
          for (var i = 0; i < array.length; i++) {
            output += array[i].outerHTML;
          }
          // append output to div 'points-table-container'
          document.getElementById('points-table-container').innerHTML = output;
        });
    <% end %>

<% points.each do |p| %>
<div class="card-point" data-classification="<%= p.case&.classification %>">
  <% if p.case&.classification == 'good' %>
  <% pointbox = "point-good" %>
  <% elsif p.case&.classification == 'neutral' %>
  <% pointbox = "point-neutral" %>
  <% elsif p.case&.classification == 'bad' %>
  <% pointbox = "point-bad" %>
  <% elsif p.case&.classification == 'blocker' %>
  <% pointbox = "point-blocker" %>
  <% end %>
  <div class="card-inline" >
    <div class="card-inline-item card-inline-point">
      <%= if p.case.nil? then '(no case) ' + p.title else link_to p.case.title, case_path(p.case) end %>
    </div>
    <div class="card-inline-item card-inline-rating <%= pointbox %>">
    </div>
    <div class="card-inline-item card-inline-status">
      <%= p.status %>
    </div>
    <div class="card-inline-item card-inline-options">
      <% if current_user %>
        <% if current_user.curator? %>

            <%= link_to(point_path(p), class: 'btn') do %>
            <i class="fa fa-eye" aria-hidden="true"></i>
             <% end %>
            <%= link_to(edit_point_path(p), class: 'btn') do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>

          <% elsif current_user.id == p.user_id %>

            <%= link_to(point_path(p), class: 'btn') do %>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
            <%= link_to(edit_point_path(p), class: 'btn') do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>

          <% else %>

            <%= link_to(point_path(p), class: 'btn') do %>
              <li class="fa fa-eye" aria-hidden="true"></li>
            <% end %>

            <% end %>

        <% else %>

            <%= link_to(point_path(p), class: 'btn') do %>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>

      <% end %>

    </div>
  </div>
</div>
<!-- card-inline-END -->
<% end %>
<% end %>
</div>
  <%= link_to("Add a point", new_service_point_path(@service), class: 'btn btn-primary', style: 'margin-top: 1rem') %>
</div>
</div>


