<div class="row">
  <div class="col-xs-12">
    <div class="text-center sorting-buttons">

      <button class="btn btn-success" id="orderByPoint">order by rating</button>
    </div>
    <!-- card-inline-header -->
    <div class="card-inline card-inline-header ">
      <div class="card-inline-item card-inline-service">
        Services
      </div>
      <div class="card-inline-item card-inline-point">
        Title
      </div>
      <div class="card-inline-item card-inline-rating">
        Rating
      </div>
      <div class="card-inline-item card-inline-status">
        Status
      </div>
      <div class="card-inline-item card-inline-featured">
        Featured?
      </div>
      <div class="card-inline-item card-inline-options">
        Options
      </div>
    </div>
    <!-- actual card-inline -->
    <% if points.empty? %>
    <div class="card-inline">
      <div class="card-inline-item">
        No points found
      </div>
    </div>
    <% else %>
    <div id="points-table-container">
      <%= javascript_tag do %>
      document.getElementById('orderByPoint').addEventListener("click", (event) => {
      let elems =  document.querySelectorAll(".card-point");
      // convert nodelist to array
      var array = [];
      for (var i = 0; i < elems.length; i++) {
      array[i] = elems[i];
    }
    // perform sort depending on classname
    if(event.currentTarget.className=="btn btn-success"){
    array.sort(function(a, b) {
    return a.dataset.rating - b.dataset.rating;
  });
  event.currentTarget.classList.remove("btn-success");
  event.currentTarget.classList.add("btn-danger");
}
else if(event.currentTarget.className== "btn btn-danger"){
array.sort(function(a, b) {
return b.dataset.rating -  a.dataset.rating;
});
event.currentTarget.classList.remove("btn-danger");
event.currentTarget.classList.add("btn-success");
}
// join the array back into HTML
var output = "";
for (var i = 0; i < array.length; i++) {
output += array[i].outerHTML;
}
// append output to div 'points-table-container'
document.getElementById('points-table-container').innerHTML = output;
});
<% end %>

<% points.each do |p| %>
<div class="card-point" data-rating="<%= p.rating %>">
  <% if p.rating.between?(7, 10)%>
  <% pointbox = "point-good" %>
  <% elsif p.rating.between?(4,6) %>
  <% pointbox = "point-neutral" %>
  <% elsif p.rating.between?(2,3) %>
  <% pointbox = "point-bad" %>
  <% elsif p.rating.between?(0,2) %>
  <% pointbox = "point-blocker" %>
  <% end %>
  <div class="card-inline" >
    <div class="card-inline-item card-inline-service">
      <%= p.service.name %>
    </div>
    <div class="card-inline-item card-inline-point">
      <%= p.title %>
    </div>
    <div class="card-inline-item card-inline-rating <%= pointbox %>">
      <%= p.rating %>
    </div>
    <div class="card-inline-item card-inline-status">
      <%= p.status %>
    </div>
    <div class="card-inline-item card-inline-featured">
      <% if p.is_featured? %>
      <i class="fa fa-check" aria-hidden="true"></i>
      <% else %>
      <i class="fa fa-circle-o" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="card-inline-item card-inline-options">
    <% if current_user %>
      <% if current_user.curator.nil? %>

          <%= link_to(point_path(p), :class => 'btn') do %>
          <i class="fa fa-eye" aria-hidden="true"></i>
          <% end %>
          <%= link_to(edit_point_path(p), :class => 'btn') do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>

        <% else current_user.id == p.user_id %>

          <%= link_to(point_path(p), :class => 'btn') do %>
          <i class="fa fa-eye" aria-hidden="true"></i>
          <% end %>
          <%= link_to(edit_point_path(p), :class => 'btn') do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>

        <% end %>
      <% end %>
      <%= link_to(point_path(p), :class => 'btn') do %>
      <i class="fa fa-eye" aria-hidden="true"></i>
      <% end %>
    </div>

  </div>
</div>
<!-- card-inline-END -->
<% end %>
<% end %>
</div>
</div>
</div>
