<div class="row mb15">
  <div class="col-sm-6">
    <%= form_tag(service_path(@service), method: :get) do %>
    <%= collection_select :topic, :id , Topic.all, :id, :title, {prompt: "Select a Topic"}, class: "custom-search-input search" %>

    <%= button_tag(type: 'search', class: "btn btn-default") do%>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
    <%= link_to '<i class="fas fa-undo-alt text-right"></i>'.html_safe, service_path(@service), class: "btn btn-default" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-success" id="orderByPointOnService"><span class="glyphicon glyphicon-sort"></span></button>
  </div>
</div>

<%= javascript_tag do %>
  document.getElementById('orderByPointOnService').addEventListener("click", (event) => {
  let elems =  document.querySelectorAll(".card-point");
  // convert nodelist to array
  var array = [];
  for (var i = 0; i < elems.length; i++) {
  array[i] = elems[i];
}
  // perform sort depending on classname
  if(event.currentTarget.className=="btn btn-success"){
  array.sort(function(a, b) {
  return a.dataset.rating - b.dataset.rating;
  });
  event.currentTarget.classList.remove("btn-success");
  event.currentTarget.classList.add("btn-danger");
}
  else if(event.currentTarget.className== "btn btn-danger"){
  array.sort(function(a, b) {
  return b.dataset.rating -  a.dataset.rating;
});
  event.currentTarget.classList.remove("btn-danger");
  event.currentTarget.classList.add("btn-success");
}
  // join the array back into HTML
  var output = "";
  for (var i = 0; i < array.length; i++) {
  output += array[i].outerHTML;
}
  // append output to div 'points-table-container'
  document.getElementById('points-table-container').innerHTML = output;
});
<% end %>

<% if @points.empty? %>
  There are no points to display at this time.
<% else %>

<div id="points-table-container">
  <%= javascript_tag do %>
    document.getElementById('orderByPointOnService').addEventListener("click", (event) => {
    let elems =  document.querySelectorAll(".card-point");
    // convert nodelist to array
    var array = [];
    for (var i = 0; i < elems.length; i++) {
    array[i] = elems[i];
    }
    // perform sort depending on classname
    if(event.currentTarget.className=="btn btn-success"){
    array.sort(function(a, b) {
    return a.dataset.rating - b.dataset.rating;
    });
    event.currentTarget.classList.remove("btn-success");
    event.currentTarget.classList.add("btn-danger");
    }
    else if(event.currentTarget.className== "btn btn-danger"){
    array.sort(function(a, b) {
    return b.dataset.rating -  a.dataset.rating;
    });
    event.currentTarget.classList.remove("btn-danger");
    event.currentTarget.classList.add("btn-success");
    }
    // join the array back into HTML
    var output = "";
    for (var i = 0; i < array.length; i++) {
    output += array[i].outerHTML;
    }
    // append output to div 'points-table-container'
    document.getElementById('points-table-container').innerHTML = output;
    });
  <% end %>

<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @points.each do |point| %>

  <% if point.rating.between?(7,10) %>
    <% point_icon = "point-good" %>
  <% elsif point.rating.between?(4,6) %>
    <% point_icon = "point-neutral" %>
  <% elsif point.rating.between?(2,3) %>
    <% point_icon = "point-bad" %>
  <% elsif point.rating.between?(0,2) %>
    <% point_icon = "point-blocker" %>
  <% end %>

  <% counter += 1 %>
  <div class="panel panel-default card-point" id="panel<%=counter%>" data-rating="<%= point.rating %>">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="<%=point_icon%> xs-icon">
              Rating: <%= point.rating %>
          </h5>
        </div>
        <div class="col-sm-4">
          <h5>
            <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <%= point.title %>
            </a>
          </h5>
        </div>
        <div class="col-sm-4 text-right">
          <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
    </div>
  </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 mb15">
            <span class="fl">Status: <%= point.status %></span>
          </div>
          <div class="col-sm-6 mb15">
            <span class="fr"><%= link_to '<i class="fas fa-eye"></i>'.html_safe, point_path(point.id)%></span>
          </div>
          <div class="col-sm-12">
            <%= point.analysis %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
</div>
