<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rating</th>
        <th scope="col" class="text-right">Annotate</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="myTableBody">
    <% services.each do |s| %>
      <tr class="toSort" data-classification="<%= s.service_rating %>">
        <td>
          <%= link_to service_path(s) do %>
            <%= truncate(s.name, length: 30) %>
          <% end %>
        </td>
        <td><%= s.service_rating %> </td>
        <td class="text-right">
          <% if @document_counts[s.id] && @document_counts[s.id] > 0 %>
            <%= link_to(annotate_service_path(s), class: 'btn') do %>
              <i class="fa fa-bookmark"></i>
            <% end %>
          <% else %>
            Documents<br>unavailable
          <% end %>
        </td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
