<div class="article-holder status-changes">
  <table class="table">
    <thead class="thead thead-dark">
      <th scope="col">ANALYSIS UPDATES</th>
      <th scope="col">TEXT CHANGES</th>
      <th scope="col">WHEN</th>
      <th scope="col">WHO</th>
    </thead>
    <tbody>
      <% @versions.each do |v| %>
      <tr>
        <th scope="row"><%= v.event %></th>
        <td>
          <% if v.changeset["analysis"] %>
          Analysis change: <%= v.changeset["analysis"] %>
          <% elsif v.changeset["status"] %>
          Status change: <%= v.changeset["status"] %>
          <% else %>
          No changes recorded
          <% end %>
        </td>
        <td><%= v.created_at %></td>
        <td><%= username v.whodunnit %> <% if User.find_by_id(v.whodunnit).admin? %><sup><span class="label label-danger">Team</span></sup><% elsif User.find_by_id(v.whodunnit).curator? %><sup><span class="label label-primary">Curator</span></sup><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

