<style>
#caseToast {
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 5rem;
  background: #fff;
  border: 1px solid #ffe;
  box-shadow: #ccc 1px 1px 1rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 200ms ease;
}

#caseToast.withSelection {
  display: block;
  opacity: 1;
}
</style>

<div id="caseToast">
  <form id="caseDropdown">
    <select>
      <% @topics.each do |t| %>
        <optgroup label="<%= t.title %>">
          <% t.cases.each do |c| %>
            <option data-case-id="<%= c.id %>"><%= c.title %></option>
          <% end %>
        </optgroup>
      <% end %>
    </select>
    <button type="submit" class="btn btn-primary">Annotate</button>
  </form>
</div>

<form method="POST" id="quoteForm">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="document_id" id="document_id">
  <input type="hidden" name="quoteRev" id="quoteRev">
  <input type="hidden" name="quoteStart" id="quoteStart">
  <input type="hidden" name="quoteEnd" id="quoteEnd">
  <input type="hidden" name="quoteCaseId" id="quoteCaseId">
</form>

<h2><%= link_to  @service.name, service_path(@service) %></h2>

<div id="toc">
  <p>Documents:</p>
  <ul class="list-group">
    <% @documents.each do |doc| %>
      <li class="list-group-item">
        <a href="#doc_<%= doc.id %>"><%= doc.name %></a>
      </li>
    <% end %>
    <li style="list-style-type: none; padding-top: 1rem;">
      <%= link_to "Add a document", new_document_path(service: @service), title: "Add a new document to crawl", class: "btn btn-default" %>
    </li>
  </ul>
</div>

<div id="files">
  <% @documents.each do |doc| %>
    <div class="docAnchor" id="doc_<%= doc.id %>">
      <div class="panel panel-default">
        <div
          class="panel-heading"
        ><h3 class="h5"><%= link_to doc.name, document_path(doc) %></h3>
        </div>
        <div class="panel-body">
          <% offset = 0 %>
          <% doc.snippets.each do |snippet| %>
            <% if snippet[:pointId] %>
              <p><%= link_to snippet[:text], point_path(snippet[:pointId]), title: snippet[:title], :data => { :document_id => doc.id, :offset => offset }%></p>
            <% else %>
              <p> <%= content_tag(:div, snippet[:text], :data => { :document_id => doc.id, :revision => 'latest', :offset => offset }) %> </p>
            <% end %>
            <% offset += snippet[:text].length %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function linkSelectionToCase(caseDropdownSubmitEvent) {
    caseDropdownSubmitEvent.preventDefault();

    const caseDropdown = document.querySelector('#caseDropdown select');
    const caseId = caseDropdown.options[caseDropdown.selectedIndex].dataset.caseId;

    const selection = window.getSelection()
    console.log(JSON.stringify(selection.anchorNode.parentElement.dataset));

    const spanOffset = parseInt(selection.anchorNode.parentElement.dataset['offset'], 10);
    const selectionStart = Math.min(selection.anchorOffset, selection.focusOffset);
    const selectionEnd = Math.max(selection.anchorOffset, selection.focusOffset);
    console.log('linkSelectionToCase', caseId,
      spanOffset,
      spanOffset + selectionStart,
      spanOffset + selectionEnd
    )
    document_id.value =  selection.anchorNode.parentElement.dataset.documentId;
    quoteRev.value =  selection.anchorNode.parentElement.dataset['revision'];
    quoteStart.value = spanOffset + selectionStart
    quoteEnd.value = spanOffset + selectionEnd
    quoteCaseId.value = caseId

    const quoteForm = document.getElementById('quoteForm');
    quoteForm.submit();
  }

  const caseDropdown = document.getElementById('caseDropdown');
  caseDropdown.addEventListener('submit', linkSelectionToCase);

  document.addEventListener('selectionchange', () => {
    const selection = document.getSelection();
    const caseSelectionToast = document.getElementById('caseToast');

    // Make sure the current selection is part of one of the documents:
    if (
      !selection.anchorNode.parentElement ||
      !selection.anchorNode.parentElement.dataset ||
      !selection.anchorNode.parentElement.dataset['revision'] ||
      selection.anchorNode.parentElement !== selection.focusNode.parentElement
    ) {
      console.log('Selection is not inside a document');
      caseSelectionToast.classList.remove('withSelection');
      return;
    }

    // topOfPage is negative if we're scrolled down:
    const topOfPage = document.body.getBoundingClientRect().top;
    const selectionBottom = selection.getRangeAt(0).getBoundingClientRect().bottom - topOfPage;

    caseSelectionToast.style.top = (selectionBottom + 10).toString() + 'px';

    if (selection.toString().length > 0) {
      caseSelectionToast.classList.add('withSelection');
    } else {
      caseSelectionToast.classList.remove('withSelection');
    }
  });
</script>

