<ul>
  <% @points.each do |p| %>
    <% if !(p.quoteDoc) %>
      <li>
          <%= p.id %>
          <%= p.title %>
          <input type="submit" value="Quote" onclick="makeQuote(<%= p.id %>)" >
      </li>
    <% end %>
  <% end %>
</ul>

<form method="POST" id="quoteForm">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="quoteDoc" id="quoteDoc">
  <input type="hidden" name="quoteRev" id="quoteRev">
  <input type="hidden" name="quoteStart" id="quoteStart">
  <input type="hidden" name="quoteEnd" id="quoteEnd">
  <input type="hidden" name="quotePointId" id="quotePointId">
  <input type="submit" value="Save">
</form>

<script>
  function makeQuote(pointId) {
    var sel = window.getSelection()
    console.log('makeQuote', pointId,
      sel.anchorNode.parentElement.getAttribute('offset') + sel.anchorOffset,
      sel.anchorNode.parentElement.getAttribute('offset') + sel.focusOffset
    )
    quoteDoc.value =  sel.anchorNode.parentElement.getAttribute('doc')
    quoteRev.value =  sel.anchorNode.parentElement.getAttribute('rev')
    quoteStart.value = sel.anchorNode.parentElement.getAttribute('offset') + sel.anchorOffset
    quoteEnd.value = sel.anchorNode.parentElement.getAttribute('offset') + sel.focusOffset
    quotePointId.value = pointId
  }
  var quotes = {}
  function fetchDoc(serviceName, doc, rev) {
    console.log('fetchDoc', serviceName, doc, rev)

    var xhr = new XMLHttpRequest()
    xhr.open('GET', 'https://raw.githubusercontent.com/tosdr/tosback2/'
      + rev + '/crawl/'
      + encodeURIComponent(serviceName) + '/'
      + doc, true)
    xhr.onload = function() {
      var text = xhr.response
      var cursor = 0
      var span
      quotes[doc][rev].sort((a, b) => a.start - b.start)
      for (var i=0; i<quotes[doc][rev].length; i++) {
        var span = document.createElement('span')
        span.innerText = text.substring(cursor, quotes[doc][rev][i].start)
        console.log('green', text.length, cursor, quotes[doc][rev][i].start)
        span.style.color = 'green'
        span.setAttribute('offset', cursor)
        span.setAttribute('doc', doc)
        span.setAttribute('rev', rev)
        ta.appendChild(span)
        span = document.createElement('a')
        span.innerText = text.substring(quotes[doc][rev][i].start, quotes[doc][rev][i].end)
        console.log('red', text.length, quotes[doc][rev][i].start, quotes[doc][rev][i].end)
        span.style.color = 'red'
        span.setAttribute('offset', quotes[doc][rev][i].start)
        span.setAttribute('doc', doc)
        span.setAttribute('rev', rev)
        span.href = '/points/' + quotes[doc][rev][i].pointId + '/edit'
        ta.appendChild(span)
        cursor = quotes[doc][rev][i].end
      }
      span = document.createElement('span')
      span.innerText = text.substring(cursor)
      console.log('green', text.length, cursor)
      span.style.color = 'green'
      span.setAttribute('offset', cursor)
      span.setAttribute('doc', doc)
      span.setAttribute('rev', rev)
      ta.appendChild(span)
    }
    xhr.send()
  }
  
  function registerQuote(doc, rev, start, end, pointId) {
    if (doc) {
      console.log(doc, rev, start, end, pointId)
      if (!quotes[doc]) {
        quotes[doc] = {}
      }
      if (!quotes[doc][rev]) {
        quotes[doc][rev] = []
        fetchDoc('<%= @service.url %>', doc, rev) // FIXME: check for code injection
      }
      quotes[doc][rev].push({ start, end, pointId})
    }
  }
  <% @points.each do |p| %>
      registerQuote(
        '<%= p.quoteDoc %>', // FIXME: check for code injection
        '<%= p.quoteRev %>', // FIXME: check for code injection
        parseInt(<%= p.quoteStart %>), // FIXME: check for code injection
        parseInt(<%= p.quoteEnd %>), // FIXME: check for code injection
        parseInt(<%= p.id %>)) // FIXME: check for code injection
  <% end %>
</script>
<div id="ta"></div>
