<% content_for :title do %>
  <title>Services</title>
<% end %>

<br>
<div>
  <div class="card-inline">
    <div class="card-inline-item card-inline-service">
      <div class="row">
        <div class="col-lg-6">
          <h1>Services</h1>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 text-left">
          <div class="">
            <% if (!current_user.nil? && current_user.curator?) || (!current_user.nil? && current_user.admin?) %>
              <%= link_to 'Add Service', new_service_path, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Logo</th>
                <th scope="col">Name</th>
                <th scope="col">Rating</th>
                <th scope="col" class="text-right">View</th>
                <th scope="col" class="text-right">Documents</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="myTableBody">
            <% @services.each do |service| %>
              <tr class="toSort">
                <td>
                    <img src="'<%= ENV['S3_CDN'] %>/' + service.id + '.png'" width="32"/>
                </td>
                <td>
                  <%= service.name %>
                </td>
                <td>
                  <%= service.rating || 'N/A' %>
                </td>
                
                <td class="text-right">
                  <%= link_to 'Details', service_path(service), class: 'btn btn-primary smaller-btn-text' %>
                </td>
                <td class="text-right">
                  <%= link_to 'Annotate', annotate_path(service), class: 'btn btn-primary smaller-btn-text' %>
                </td>
                <td></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @services %>
