<div id="step-3" style="display:none">
      <div class="col-xs-6">
        <%= f.association :topic, collection: Topic.order('title ASC'), hint: "Category of the point" %>
      </div>
      <div class="col-xs-6">
        <button onclick="openStep('step-4', event)">Next</button>
      </div>
    </div>

    <div id="step-4" style="display:none">
      <div class="col-xs-12">
        <%= f.input :title, hint: "Give your point a short descriptive title (max 140 chars)" %>
      </div>
      <div class="col-xs-12">
        <%= f.input :analysis, as: :text , input_html: { rows: 7, class: "text-area" }, hint: "Write your analysis and comments" %>
      </div>
      <div class="col-xs-12 col-sm-7">
        <button onclick="openStep('step-5', event)">Next</button>
      </div>

    </div>

    <div id="step-5" style="display:none">
      <div class="col-xs-6">
        <%= f.input :source %>
      </div>
      <div class="col-xs-6">
        <%= f.input :rating, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        <button onclick="openStep('step-6', event)">Next</button>
      </div>
    </div>

    <div id="step-6" style="display:none">
      <div class="col-xs-6">
        <% if current_user.curator? %>
        <%= f.input :status, collection: ["pending", "draft", "approved", "declined", "disputed"] %>
        <% else %>
        <%= f.input :status, collection: ["pending", "draft"], hint: "Choose pending for the curators to review your point" %>
        <% end %>
      </div>

      <div class="form-actions col-xs-6">
        <%= f.submit "Submit Point", name: "only_create", class: 'btn btn-primary' %>
        <%= f.submit "Submit Point + Add Another", name: "create_add_another", class: 'btn btn-primary' %>
        <%= link_to "Cancel", :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>

</div>
<% end %>
