<% content_for :title do %>
  <title>Service <%= @service.name %> (ToS;DR Phoenix)</title>
<% end %>
  <div class="row">
    <div class="col-sm-6">
      <% if @service.wikipedia && @service.wikipedia.length > 0 %>
      <h5 class="fw2 fl gray"><%= link_to '<i class="fab fa-wikipedia-w"></i>'.html_safe, @service.wikipedia %>
      <% end %>
    </div>
    <div class="col-sm-6" style="text-align:right" >
      <h5 class="fw2 fr gray">
        <% if current_user %>
          <% if current_user.curator? %>
            <%= link_to "Edit Service", edit_service_path(@service) %>
            <br> <br>
          <% end %>
          <%= link_to "Annotate Docs", annotate_service_path(@service), class: 'btn btn-primary active' %>
          <br> <br>
          <%= link_to 'Add Comment', new_service_service_comment_path(@service) %>
        <% end %>
      </h5>
    </div>

  </div>

  <% grade = "rating-#{@service.service_rating}" %>


  <div class="row mb15">
    <div class="col-sm-6">
      <h2 class="service-title fw2 mv fl gray">
        <a href="<%= @service.url %>"><%= @service.name %></a>
        <% unless @service.service_rating == "N/A" %>
        <div class="grade <%= grade %>">
          <%= @service.service_rating %>
        </div>
        <% end %>
      </h2>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  <br>


  <%= render 'table', points: @points %>

<br>
<br>

   <%= render 'shared/comments', comments: @service.service_comments %>

<br>
<br>

  <%= render 'versions', versions: @versions %>

