<header class="tc ph4">
  <h1 class="fw2 mv3">
    <%= @service.name %>
  </h1>

  <p>

<% if current_user %>

  <% if current_user.admin? %>
  <%= link_to 'Edit Service', edit_service_path, class: 'btn btn-primary' %>
  <%= link_to 'Delete Service', @service, method: :delete, class: 'btn btn-danger' %>
  <% end %>

  </p>

<div id="custom-search-input">
  <div class="input-group col-xs-12 mb15">
    <%= form_tag(@service, url: service_path, method: :get) do %>
      <%= text_field_tag :query, "", class: "search-query form-control", placeholder: "Search", value: @query %>

      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-danger button") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
</header>

<div class="row">

</div>
<div class="row">
  <div class="container card-container">
    <div class="row">
      <div class="col-xs-12">
        <!-- card-inline-header -->
        <div class="card-inline card-inline-header">
          <div class="card-inline-item card-inline-point">
            Title
          </div>
          <div class="card-inline-item card-inline-rating">
            Rating
          </div>
          <div class="card-inline-item card-inline-status">
            Status
          </div>
          <div class="card-inline-item card-inline-rating">
            Topic
          </div>
          <div class="card-inline-item card-inline-featured">
            Featured?
          </div>
          <div class="card-inline-item card-inline-options">
            View
          </div>
        </div>
        <!-- actual card-inline -->
          <% @points.each do |p| %>
          <% if p.rating.between?(7, 10)%>
            <% pointbox = "point-good" %>
          <% elsif p.rating.between?(4,6) %>
            <% pointbox = "point-neutral" %>
          <% elsif p.rating.between?(2,3) %>
            <% pointbox = "point-bad" %>
          <% elsif p.rating.between?(0,2) %>
            <% pointbox = "point-blocker" %>
          <% end %>
          <div class="card-inline">
            <div class="card-inline-item card-inline-point ">
              <%= p.title %>
            </div>
            <div class="card-inline-item card-inline-rating <%= pointbox %>">
              <%= p.rating %>
            </div>
            <div class="card-inline-item card-inline-status">
              <%= p.status %>
            </div>
                <div class="card-inline-item card-inline-status">
              <%= p.topic.title %>
            </div>
            <div class="card-inline-item card-inline-featured">
              <% if p.is_featured? %>
              <i class="fa fa-check" aria-hidden="true"></i>
              <% else %>
              <i class="fa fa-circle-o" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="card-inline-item card-inline-options">
              <%= link_to(point_path(p), :class => 'btn') do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
          <!-- card-inline-END -->
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>

<div id="custom-search-input">
  <div class="input-group col-xs-12 mb15">
    <%= form_tag(service_path(@service), method: :get) do %>
      <%= text_field_tag :query, "", class: "search-query form-control", placeholder: "Search" %>

      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-danger button") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </span>
    <% end %>
  </div>
</div>

<% @points.each do |p| %>

  <% if p.rating.between?(7, 10)%>
    <% pointbox = "point-good" %>
    <% elsif p.rating.between?(4,6) %>
    <% pointbox = "point-neutral" %>
    <% elsif p.rating.between?(2,3) %>
    <% pointbox = "point-bad" %>
    <% elsif p.rating.between?(0,2) %>
    <% pointbox = "point-blocker" %>
  <% end %>

<article class="holder">
  <div class="header-holder">
  <h1 class="article-header <%= pointbox %>">
    <%= p.title %>
  </h1>
  </div>

  <div class="article-text-holder">
    <p class="article-text">
      <%= p.analysis %>
    </p>
  </div>

</article>

  <% end %>

<% end %>




