
  <div class="row mb15">
    <div class="col-sm-6">
      <span class="fl"><%= link_to '<i class="fab fa-wikipedia-w"></i>'.html_safe, @service_info[:wikipedia] %></span>
    </div>
  </div>

  <h1 class="service-title fw2 mv3">
    <a href="<%= @service_info[:website] %>"><%= @service_info[:name] %></a>

    <% unless @service.service_ratings == "N/A" %>
    <div class="grade <%= @rating %>">
      <%= @service.service_ratings %>
    </div>
    <% end %>
  </h1>

  <br>

  <%= render 'table', points: @points %>


<script>
function openTab(tabName, event) {
  document.querySelectorAll(".tabs-bar").forEach(
    function(tab){
      tab.classList.add('active');
    });
  event.currentTarget.classList.remove("active");
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
    document.getElementById(tabName).style.backgroundColor = "none";
}
</script>
