  <div class="row">
    <div class="col-sm-6">
      <% if @service.wikipedia && @service.wikipedia.length > 0 %>
      <h5 class="fw2 fl gray"><%= link_to '<i class="fab fa-wikipedia-w"></i>'.html_safe, @service.wikipedia %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h5 class="fw2 fr gray">
        <% if current_user %>
        <% if current_user.curator? %>
          <%= link_to "Edit Service", edit_service_path(@service) %>
         |
        <% end %>
        <% end %>
        <% if params[:scope] == 'pending' || params[:scope].nil? %>
          <%= link_to 'Archived Versions', service_path(scope: 'archived-versions') %> </h5>
        <% elsif %>
          <%= link_to 'Back', service_path(scope: nil) %></h5>
        <% end %>
    </div>

  </div>


  <div class="row mb15">
    <div class="col-sm-6">
      <h2 class="service-title fw2 mv fl gray">
        <a href="<%= @service.url %>"><%= @service.name %></a>
        <% unless @service.service_ratings == "N/A" %>
        <div class="grade <%= @rating %>">
          <%= @service.service_ratings %>
        </div>
        <% end %>
      </h2>
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  <br>

  <% if params[:scope] == "pending" || params[:scope].nil? %>

    <%= render 'table', points: @points %>

  <% elsif params[:scope] == "archived-versions" %>

    <%= render 'versions', versions: @versions %>

  <% end %>
