<% content_for :title do %>
  <title>Service <%= @service.name %> (ToS;DR Phoenix)</title>
<% end %>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h1><a href="<% @service.url %>"><%= @service.name %></a></h1>
        <h5> Rating: <%= @service.rating %></h5>
      </div>

      <div class="col-lg-6 text-right justify-content-end">
        <% if @service.wikipedia && @service.wikipedia.length > 0 %>
          <h5 class="fw2 fl gray"><%= link_to '<i class="fab fa-wikipedia-w"></i>'.html_safe, @service.wikipedia %>
        <% end %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-6">
          <% if policy(@service).update? %>
            <%= link_to 'Edit Service', edit_service_path(@service), class: 'btn btn-primary smaller-btn-text' %>
          <% end %>
          <% if current_user %>
            <%= link_to 'Add Comment', new_service_service_comment_path(@service), class: 'btn btn-link smaller-btn-text' %>
          <% end %>


        <% if @service.documents.count == 0 %>
          <% if current_user %>
            <%= link_to "Add Document", new_document_path(service: @service), title: "Add a new document to crawl", class: "btn btn-link smaller-btn-text" %>
          <% end %>
        <% else %>
          <%= link_to "View Documents", annotate_service_path(@service), title: "Create points by browsing this service's documents", class: 'btn btn-link smaller-btn-text' %>
        <% end %>
      </div>

    </div> <!--/.float-right -->
    <br>
    <% if @points.empty? %>
      <p>There are no points to display at this time!</p>
    <% else %>
      <%= render "service_points", points: @points, service: true %>
    <% end %>
  </div>
</div>

<br>
<br>

  <%= render 'shared/comments', comments: @service.service_comments.includes([:spams]) %>

<br>
<br>

  <%= render 'versions', versions: @versions %>
