<header class="tc ph4">
  <h1 class="fw2 mv3 service-title">
    <%= @service.name %>
    <% if @service.service_ratings == "A" %>
    <% grade = "rating-a" %>
    <% elsif @service.service_ratings == "B" %>
    <% grade = "rating-b" %>
    <% elsif @service.service_ratings == "C" %>
    <% grade = "rating-c" %>
    <% elsif @service.service_ratings == "D" %>
    <% grade = "rating-d" %>
    <% elsif @service.service_ratings == "F" %>
    <% grade = "rating-f" %>
    <% else %>
    <% grade = "rating-na" %>
    <% end %>
    <div class="grade <%= grade %>">
      <%= @service.service_ratings %>
    </div>
  </h1>
  <p class="mt0 lh-copy">
    <a href="<%= @service.url %>">Website</a>
    <a href="<%= @service.wikipedia %>">Wikipedia</a>
  </p>
  <p>
    <% unless current_user.nil? %>
    <%= link_to 'Edit Service', edit_service_path, class: 'btn btn-primary' %>
    <% end %>
  </p>
  <div id="custom-search-input">
    <div class="input-group col-xs-12 mb15">
      <%= form_tag(service_path(@service), method: :get) do %>
      <%= collection_select :topic, :id , Topic.all, :id, :title, {prompt: "Select a Topic"} %>

      <%= submit_tag 'Search', class: "btn btn-default" %>
      <%= link_to "Reset", service_path(@service), class: "btn btn-default" %>

      <% end %>
    </div>
  </div>
</header>

<div class="row">
  <div class="tabs-bar-container">
    <div class="tabs-bar" onclick="openTab('Points')">Points</div>
    <div class="tabs-bar" onclick="openTab('Versions')">Versions</div>
  </div>
  <div id="Points" class="tabs-container tab" style="">
    <h2>Points</h2>
    <div class="container card-container">
      <%= render 'table', points: @points %>
    </div>
  </div>

  <div id="Versions" class="tabs-container tab" style="display:none">
    <h2>Versions</h2>
  </div>

</div>

<script>
function openTab(tabName) {
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
}
</script>
</div>
