<div class="form-login">
  <div class="row row-form">
    <div class="step active" style="">
      <div class="p15 col-xs-6">
        <p>When submitting a contribution, you submit what we call a "point." It's an analysis on one specific aspect of the ToS of the service that you want to rate. All points have a rating from 1 to 10 and the class given to the service is the average of all those ratings. See the <a href="/about#classification">about page</a> for more information.</p>

        <p>Each point submitted by a user has to be reviewed by a curator before being displayed on the website. You will recieve a message by email from the curator who reviewed your point.</p>
      </div>
      <%= simple_form_for [@point] do |f| %>
      <div class="col-xs-6">
        <%= f.association :service, collection: Service.order('name ASC'), hint: "Pick a the service you want to review" %>
      </div>
      <button onclick="openStep('step-2', event)">Next</button>
    </div>

    <div id="step-2" style="display:none">
      <div class="p15 col-xs-6">
        <p>Cases represent common reviews. We pre-rated them so each time this review pops up in an analysis, it is rated the same way.</p>
      </div>
      <div class="col-xs-6">
        <%= f.association :case, collection: Case.order('title ASC'), hint: "Pick the case that applies" %>
        <button onclick="openStep('step-3', event)">Cannot find your case</button>
        <button onclick="openStep('step-6', event)">Next</button>
        <%= f.submit "Submit Point", name: "has_case", class: 'btn btn-primary' %>
      </div>
    </div>

    <div id="step-3" style="display:none">
      <div class="col-xs-6">
        <%= f.association :topic, collection: Topic.order('title ASC'), hint: "Category of the point" %>
      </div>
      <div class="col-xs-6">
        <button onclick="openStep('step-4', event)">Next</button>
      </div>
    </div>

    <div id="step-4" style="display:none">
      <div class="col-xs-12">
        <%= f.input :title, hint: "Give your point a short descriptive title (max 140 chars)" %>
      </div>
      <div class="col-xs-12">
        <%= f.input :analysis, as: :text , input_html: { rows: 7, class: "text-area" }, hint: "Write your analysis and comments" %>
      </div>
      <div class="col-xs-12 col-sm-7">
        <button onclick="openStep('step-5', event)">Next</button>
      </div>

    </div>

    <div id="step-5" style="display:none">
      <div class="col-xs-6">
        <%= f.input :source %>
      </div>
      <div class="col-xs-6">
        <%= f.input :rating, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        <button onclick="openStep('step-6', event)">Next</button>
      </div>
    </div>

    <div id="step-6" style="display:none">
      <div class="col-xs-6">
        <% if current_user.curator? %>
        <%= f.input :status, collection: ["pending", "draft", "approved", "declined", "disputed"] %>
        <% else %>
        <%= f.input :status, collection: ["pending", "draft"], hint: "Choose pending for the curators to review your point" %>
        <% end %>
      </div>

      <div class="form-actions col-xs-6">
        <%= f.submit "Submit Point", name: "only_create", class: 'btn btn-primary' %>
        <%= f.submit "Submit Point + Add Another", name: "create_add_another", class: 'btn btn-primary' %>
        <%= link_to "Cancel", :back, class: "btn btn-default" %>
      </div>
    </div>
  </div>

</div>
<% end %>
</div>
<script>
  function openStep(tabName, event) {
    document.querySelectorAll(".step").forEach(
      function(tab){
        tab.classList.add('active');
      });
    event.currentTarget.classList.remove("active");
    var i;
    var x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
   }
   document.getElementById(tabName).style.display = "block";
 }
</script>
