<div class="form-login">
  <div class="row row-form">
    <%= simple_form_for([@point]) do |f| %>
        <div class="col-xs-12 col-sm-6">
          <%= f.association :service %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <%= f.association :topic %>
        </div>
        <div class="col-xs-12">
          <%= f.input :title %>
        </div>
        <div class="col-xs-12">
          <%= f.input :analysis, as: :text , input_html: { rows: 7, class: "text-area" }%>
        </div>
        <div class="col-xs-12 col-sm-7">
          <%= f.input :source %>
        </div>
        <div class="col-xs-6 col-sm-2">
          <%= f.input :rating, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        </div>
        <div class="col-xs-6 col-sm-3">
          <% if current_user.admin? %>
            <%= f.input :status, collection: ["pending", "draft", "approved", "declined", "disputed"] %>
          <% else %>
            <%= f.input :status, collection: ["pending", "draft"] %>
          <% end %>
        </div>
        <div class="form-actions col-xs-4 col-sm-2 col-md-2">
            <%= link_to "Back", :back, class: "btn btn-default" %>
        </div>
        <div class="form-actions col-xs-8 col-sm-4 col-sm-offset-6 col-md-3 col-md-offset-7">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
