<div class="form-login" id="to-hide">
  <div class="row row-form">
    <div class="step active" style="">
      <div class="point-form-text">
        <p>When submitting a contribution, you submit what we call a "point." It's an analysis on one specific aspect of the ToS of the service that you want to rate. All points have a rating from 1 to 10 and the class given to the service is the average of all those ratings. See the <a href="/about#classification">about page</a> for more information.</p>

        <p>Each point submitted by a user has to be reviewed by a curator before being displayed on the website. You will recieve a message by email from the curator who reviewed your point.</p>
      </div>

      <%= simple_form_for [@point] do |f| %>

      <div class="form-field-width margin-bottom-text" id="get-service-id">
        <%= f.association :service, collection: Service.order('name ASC'), hint: "Pick the service that you want to review" %>
        <span onclick="openStep('step-2', event)", class="btn btn-default margin-bottom-larger"> Next </span>
      </div>
    </div>
    <div id="step-2" style="display:none">
      <div class="row">
        <div class="p15 col-sm-12">
          <div class="point-form-text">
            <p>Cases represent common aspects of terms of service agreements. For example, "The terms may be changed at any time, without notice to the user." We pre-rate them so that each time these points pop up in the analysis of the terms for any service, they are rated the same way. If you want to provide analysis that's not included among the cases, feel free to click "No Case" to proceed to the standard submission process.</p>
          </div>
        </div>
      </div>
      <div class="form-field-width margin-bottom-text">
        <div class="row">
          <div class="col-sm-12">
            <%= f.association :case, collection: Case.order('title ASC'), hint: "Pick the case that applies" %>
          </div>
        </div>
        <div class="row">
        <div class="col-xs-6">
          <% if current_user.curator? %>
          <%= f.input :status, collection: ["pending", "draft", "approved", "declined", "disputed"] %>
          <% else %>
          <%= f.input :status, collection: ["pending", "draft"], hint: "Choose pending for the curators to review your point" %>
          <% end %>
        </div>
        <div class="col-xs-6">
            <%= f.input :source %>
        </div>
        </div>
        <div class="row margin-top">
          <div class="col-xs-6 margin-bottom-larger">
            <%= f.submit "Submit Point", name: "has_case", class: 'btn btn-primary' %>
            <% end %>
            <span onclick="openStep('step-3', event)", class="btn btn-default", id="trigger-id-grab">No Case</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%= render 'steps' %>

<script>
  // for steps
  document.getElementById('further-steps').style.display = "none"

  function openStep(tabName, event) {
    document.querySelectorAll(".step").forEach(
      function(tab){
        tab.classList.add('active');
      });
    event.currentTarget.classList.remove("active");
    var i;
    var x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
   }
   document.getElementById(tabName).style.display = "block";
 }

 // for setting the service in the standard submission form if no case is given
  document.getElementById('trigger-id-grab').addEventListener('click', function() {
    document.getElementById('to-hide').style.display = "none";
    document.getElementById('further-steps').style.display = "block";
    var selected_index = document.getElementById('get-service-id').childNodes[1].childNodes[1].options.selectedIndex;
    document.getElementById('set-service').childNodes[1].childNodes[1].options.selectedIndex = selected_index;
  });
</script>
