<div class="form-login">
    <%= simple_form_for [@point] do |f| %>
    <div class="row">
      <div class="col-xs-6">
      <%= f.association :service, collection: Service.order('name ASC'), hint: "If your service isn't on the list, please contact the team" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <%=
          f.input :case_id,
          :as => :grouped_select,
          # simple_form uses the first element of each item in the collection as the name,
          # and the second as the ID of the <optgroup> (which is present because it's a grouped_select).
          # We add a third element that contains another array, representing the <option>s for every
          # <optgroup>, each <option> itself consiting of an array with the label as the first
          # attribute, the ID as the second, and additional attributes after that.
          # This allows us to set data-attributes that Javascript can extract.
          :group_method => :last,
          collection: @topics.map { |t|
            [
              t.title,
              t.id,
              t.cases.map { |c|
                [
                  c.title,
                  c.id,
                  {'data-title' => c.title},
                  {'data-descrip' => c.description || "" },
                  {'data-rating' => c.classification},
                  {'topic' => c.topic.id}
                ]
              }
            ]
          },
          hint: "What this point is saying about the service"
        %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12" id="fill-point-title">
        <%= f.input :title, hint: "Give your point a short descriptive title (max 140 chars)" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="case-description">
        <%= f.input :analysis, as: :text , input_html: { rows: 7, class: "text-area" }, placeholder: "Example: The privacy policy states that '...because this information could be used to link you to your searches, we do not log (store) it at all.'", hint: "Write your analysis and comments" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= f.input :source, placeholder: "Example: https://duckduckgo.com/privacy#s3", hint: "Where did you find it?" %>
      </div>
      <div class="col-xs-4">
        <%= f.input :status, collection: ["pending", "draft", "declined"], hint: "Choose pending for the curators to review your point", selected: @point.status || "pending" %>
      </div>
    </div>
    <% if edit %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.input :point_change, as: :text, input_html: { rows: 4, class: "text-area" }, hint: "Provide a reason for your changes to this analysis point. Be careful: this will be sent by email to the author of the point." %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="form-actions col-xs-6 col-sm-2 col-md-2">
        <%= link_to "Back", :back, class: "btn btn-default" %>
      </div>
      <div class="form-actions col-xs-8 col-sm-4 col-sm-offset-6 col-md-3 col-md-offset-7">
        <%= f.submit "Submit", name: "only_create", class: 'btn btn-primary' %>
        <% if !edit %>
          <%= f.submit "Submit + Add Another", name: "create_add_another", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
