<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @versions.each_with_index do |version, index| %>
  <% counter += 1 %>
  <% is_create = version.event == "create" %>
  <% event = is_create ? "Analysis created" : "Analysis updated" %>
  <% title = version.changeset["title"] %>
  <% analysis = version.changeset["analysis"] %>
  <% status = version.changeset["status"] %>

  <% version.changeset['change_reason'].nil? ? reason = "No reason provided for previous changes" : reason = version.changeset["change_reason"].second %>
  <div class="panel panel-default" id="panel<%=counter%>">
    <div class="panel-heading" id="panel-style">
      <div class="row">
        <div class="col-sm-6">
          <h5>
              <b>Version <%= @versions.length - index %>:</b> <%= version.changeset["updated_at"].nil? ? @point.updated_at : version.changeset["updated_at"].second.time %> by <%= username version.whodunnit %> <%= rank_badge version.item.respond_to?(:user) ? version.item.user : version.whodunnit %>
          </h5>
        </div>
        <div class="col-sm-6">
          <h5><%= event %></h5>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <% if is_create %>
          <% if title %>
            <div class="col-sm-6">
              <p><b>Title:</b> <%= title&.last %></p>
            </div>
          <% end %>
          <% if analysis %>
            <div class="col-sm-6">
              <p><b>Analysis:</b> <%= analysis&.last %></p>
            </div>
          <% end %>
          <% if status %>
            <div class="col-sm-6">
              <p><b>Status:</b> <%= status_badge status&.last %></p>
            </div>
          <% end %>
        <% else %>
          <% if title %>
            <div class="col-sm-6">
              <p><b>Previous Title:</b> <%= format_version_change(title) %></p>
              <p><b>Updated Title:</b> <%= format_version_change(title, first: false) %></p>
            </div>
          <% end %>
          <% if analysis %>
            <div class="col-sm-6">
              <p><b>Previous Analysis:</b> <%= format_version_change(analysis) %></p>
              <p><b>Updated Analysis:</b> <%= format_version_change(analysis, first: false) %></p>
            </div>
          <% end %>
          <% if status %>
            <div class="col-sm-6">
              <p><b>Previous Status:</b> <%= status_badge format_version_change(status) %></p>
              <p><b>Updated Status:</b> <%= status_badge format_version_change(status, first: false) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
