<table id="myTable" class="table table-striped">
  <%= javascript_tag do %>
  function compareClassification(elementA, elementB) {
    if (
      !['good', 'neutral', 'bad', 'blocker'].includes(elementA.dataset.classification)
      || !['good', 'neutral', 'bad', 'blocker'].includes(elementB.dataset.classification)
    ) {
      return 0;
    }

    if (elementA.dataset.classification === elementB.dataset.classification) {
      return 0;
    }
    // Both do not have the same classification, so if one is good, that one is better:
    if (elementA.dataset.classification === 'good') {
      return -1;
    }
    if (elementB.dataset.classification === 'good') {
      return 1;
    }
    // Both do not have the same classification, and neither is good, so if one is neutral, that one is better:
    if (elementA.dataset.classification === 'neutral') {
      return -1;
    }
    if (elementB.dataset.classification === 'neutral') {
      return 1;
    }
    // Both do not have the same classification, and neither is good or neutral, so if one is bad, the other is a blocker:
    if (elementA.dataset.classification === 'bad') {
      return -1;
    }
    if (elementB.dataset.classification === 'bad') {
      return 1;
    }
  }

  document.getElementById('orderByPoint').addEventListener("click", (event) => {
    let elems =  document.querySelectorAll("#toSort");
    // convert nodelist to array
    var array = [];
    for (var i = 0; i < elems.length; i++) {
      array[i] = elems[i];
    }

    // perform sort depending on classname
    if(event.currentTarget.className=="btn btn-success"){
      array.sort((a, b) => compareClassification(b, a));
      event.currentTarget.classList.remove("btn-success");
      event.currentTarget.classList.add("btn-danger");
    }
    else if(event.currentTarget.className== "btn btn-danger"){
      array.sort(compareClassification);
      event.currentTarget.classList.remove("btn-danger");
      event.currentTarget.classList.add("btn-success");
    }
    // join the array back into HTML
    var output = "";
    for (var i = 0; i < array.length; i++) {
      output += array[i].outerHTML;
    }
    // append output to div 'points-table-container'
    document.getElementById('myTable').innerHTML = output;
  });
  <% end %>

  <thead>
    <tr>
      <th scope="col" onclick="sortTable(0)">Service</th>
      <th scope="col">Title</th>
      <th scope="col" onclick="sortTable(0)">Rating</th>
      <th scope="col">Status</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
  <% points.each do |point| %>
    <% if point.case&.classification == 'good' %>
      <% pointbox = "point-good" %>
    <% elsif point.case&.classification == 'neutral' %>
      <% pointbox = "point-neutral" %>
    <% elsif point.case&.classification == 'bad' %>
      <% pointbox = "point-bad" %>
    <% elsif point.case&.classification == 'blocker' %>
      <% pointbox = "point-blocker" %>
    <% end %>
    <tr id="toSort" data-classification="<%= point.case&.classification %>">
      <th scope="row"><%= point.service.name %></th>
      <td><%= link_to point.title, point_path(point), title: "View more details" %></td>
      <td class="<%= pointbox %>"></td>
      <td> <%= point.status %> </td>
      <td><%= username point.user %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
