<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @versions.each do |version| %>
  <% event = version.event == "create" ? "Analysis created" : "Analysis updated" %>
  <% title = version.changeset["title"] %>
  <% analysis = version.changeset["analysis"] %>
  <% status = version.changeset["status"] %>
  <% version.changeset['change_reason'].nil? ? reason = "No reason provided for previous changes" : reason = version.changeset["change_reason"].second %>
  <% counter += 1 %>
  <div class="panel panel-default" id="panel<%=counter%>">
    <div class="panel-heading" id="panel-style">
      <div class="row">
        <div class="col-sm-4">
          <h5>
              <b>Version <%= counter - 1 %>:</b> <%= version.changeset["updated_at"].nil? ? @point.updated_at : version.changeset["updated_at"].second.time %> by <%= username version.whodunnit %> <%= rank_badge User.find_by_id(version.whodunnit) %>
          </h5>
        </div>
        <div class="col-sm-4">
          <h5>
            <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <%= event %>
            </a>
          </h5>
        </div>
        <div class="col-sm-4 text-right">
          <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
    </div>
  </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <p><b>Previous Title:</b> <%= format_figures(title) %></p>
            <p><b>Updated Title:</b> <%= format_figures(title, first = false) %></p>
          </div>
          <div class="col-sm-6">
            <p><b>Previous Analysis:</b> <%= format_figures(analysis) %></p>
            <p><b>Updated Analysis:</b> <%= format_figures(analysis, first = false) %></p>
          </div>
          <div class="col-sm-6">
            <p><b>Previous Status:</b> <%= status_badge format_figures(status) %></p>
            <p><b>Updated Status:</b> <%= status_badge format_figures(status, first = false) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

