<% if current_user %>

<% if params[:scope].nil? || params[:scope] == "all" %>

<div class="row mb15">
  <div class="col-sm-4">
    <div class="fl">
      <%= link_to 'All', points_path(scope: 'all'), class: 'btn btn-primary active' %>
      <%= link_to 'Pending', points_path(scope: 'pending'), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render "shared/search" %>
  </div>
  <div class="col-sm-4">
    <span class="fr"><button class="btn btn-success" id="orderByPoint">Order by Rating</button></span>
  </div>
</div>

<div class="tabs-container tab">
  <div class="row">
    <div class="container card-container">
     <%= render 'table', points: @points %>
   </div>
 </div>
</div>

<% elsif params[:scope] == "pending" %>

<div class="row mb15">
  <div class="col-sm-4">
    <div class="fl">
      <%= link_to 'All', points_path(scope: 'all'), class: 'btn btn-primary' %>
      <%= link_to 'Pending', points_path(scope: 'pending'), class: 'btn btn-primary active' %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render "shared/search" %>
  </div>
  <div class="col-sm-4">
    <span class="fr"><button class="btn btn-success" id="orderByPoint">Order by Rating</button></span>
  </div>
</div>

<div class="tabs-container tab">
  <div class="row">
    <div class="container card-container">
     <%= render 'table', points: @points %>
   </div>
 </div>
</div>

<% end %>

<% end %>
