<br>
<p>Welcome! Here you will find all of the analysis points for the services on ToS;DR. The “status” of a point indicates where it’s at in our curation process. Only "approved" points are viewable by all visitors on the home page. If you wish to further investigate the details of the curation process, navigate to a point's page via the eyeball icon, where you can explore past versions of that point, and the reasons that curators give for their changes.</p>
<p>Points are “featured” when they are displayed on the service cards on the home page. Each service card is allowed five featured points.</p>
<br>

<% if current_user %>

<% if params[:scope].nil? || params[:scope] == "all" %>

<div class="row mb15">
  <div class="col-sm-4">
    <div class="fl">
      <%= link_to 'All', points_path(scope: 'all'), class: 'btn btn-primary active' %>
      <%= link_to 'Pending', points_path(scope: 'pending'), class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render "shared/search" %>
  </div>
  <div class="col-sm-4">
    <span class="fr"><button class="btn btn-success" id="orderByPoint">Order by Rating</button></span>
  </div>
</div>

<div class="tabs-container tab">
  <div class="row">
    <div class="container card-container">
     <%= render 'table', points: @points %>
   </div>
 </div>
</div>

<% elsif params[:scope] == "pending" %>

<div class="row mb15">
  <div class="col-sm-4">
    <div class="fl">
      <%= link_to 'All', points_path(scope: 'all'), class: 'btn btn-primary' %>
      <%= link_to 'Pending', points_path(scope: 'pending'), class: 'btn btn-primary active' %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render "shared/search" %>
  </div>
  <div class="col-sm-4">
    <span class="fr"><button class="btn btn-success" id="orderByPoint">Order by Rating</button></span>
  </div>
</div>

<div class="tabs-container tab">
  <div class="row">
    <div class="container card-container">
     <%= render 'table', points: @points %>
   </div>
 </div>
</div>

<% end %>

<% end %>
