<% @points.each do |p| %>
  <p><%= p.service.name %></p>
  <p> <%= p.title %> </p>
  <p> <%= p.status %> </p>
  <p> <%= p.rating %> </p>

  <p> <%= link_to 'Status update!', point_path(p) if p.reason %> </p>
<% end %>

