
<header class="tc ph4">
  <% if params.key?("all") %>
    <% points_to_show = @points %>
    <% title = "All Contributions" %>
    <% link =  link_to "My Contributions", points_path, class:"btn btn-default btn-xs" %>
  <% else %>
    <% points_to_show = @points.where(user: current_user) %>
    <% link = link_to "Show all", "?all", class:"btn btn-default btn-xs" %>
    <% title = "Your Contributions" %>
  <% end %>
  <h1 class="fw2 mv3">
    <%= title %>
  </h1>

  <%= link %>
</header>
<div class="row">
  <div class="col-xs-12 text-center">
    <%= render "shared/searchbar" %>
  </div>
</div>
<div class="row">
  <div class="container card-container">
    <div class="row">
      <div class="col-xs-12">
        <!-- card-inline-header -->
        <div class="card-inline card-inline-header">
          <div class="card-inline-item card-inline-service">
            Services
          </div>
          <div class="card-inline-item card-inline-point">
            Title
          </div>
          <div class="card-inline-item card-inline-rating">
            Rating
          </div>
          <div class="card-inline-item card-inline-status">
            Status
          </div>
          <div class="card-inline-item card-inline-featured">
          </div>
          <div class="card-inline-item card-inline-options">
            Options
          </div>
        </div>
        <!-- actual card-inline -->
        <% points_to_show.each do |p| %>
          <% if p.rating.between?(7, 10)%>
            <% pointbox = "point-good" %>
          <% elsif p.rating.between?(4,6) %>
            <% pointbox = "point-neutral" %>
          <% elsif p.rating.between?(2,3) %>
            <% pointbox = "point-bad" %>
          <% elsif p.rating.between?(0,2) %>
            <% pointbox = "point-blocker" %>
        <% end %>
        <div class="card-inline">
          <div class="card-inline-item card-inline-service">
            <%= p.service.name %>
          </div>
          <div class="card-inline-item card-inline-point">
            <%= p.title %>
          </div>
          <div class="card-inline-item card-inline-rating">
            <%= p.rating %>
          </div>
          <div class="card-inline-item card-inline-status">
            <%= p.status %>
          </div>
          <div class="card-inline-item card-inline-featured">
            <% if p.is_featured? %>
                <i class="fa fa-check" aria-hidden="true"></i>
            <% else %>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            <% end %>
          </div>
          <div class="card-inline-item card-inline-options">
            <%= link_to(point_path(p), :class => 'btn') do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>
            <% if current_user.id == p.user_id %>
            <%= link_to(edit_point_path(p), :class => 'btn') do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <% end %>
          </div>
        </div>
        <!-- card-inline-END -->
      <% end %>
      </div>
    </div>
  </div>
</div>
