<% if current_user %>
  <% content_for :title do %>
    <title>Points (ToS;DR Phoenix)</title>
  <% end %>

  <div class="card-inline">
    <div class="card-inline-item card-inline-service">
      <div class="row">
        <div class="col-lg-6">
          <h1>Points</h1>
          <% if @points.length == 100 %>
            (showing only 100 items)
          <% else %>
            (showing all <%= @points.length %> items)
          <% end %>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-6">
          <%= render "shared/search" %>
        </div>

        <div class="col-lg-6 text-right justify-content-end">
          <% if params[:scope].nil? || params[:scope] == "all" %>
            <%= link_to 'All', points_path(scope: nil), class: 'btn btn-default active smaller-btn-text' %>
            <%= link_to 'Pending', points_path(scope: 'pending'), class: 'btn btn-link smaller-btn-text' %>
          <% elsif params[:scope] == "pending" %>
            <%= link_to 'All', points_path(scope: nil), class: 'btn btn-link smaller-btn-text' %>
            <%= link_to 'Pending', points_path(scope: 'pending'), class: 'btn btn-default active smaller-btn-text'  %>
          <% end %>

          <button class="btn btn-success" id="orderByPoint">Order Points by Rating</button>

        </div>
      </div>
      <br>
      <% if @points.empty? %>
        <p>There are no points to display at this time!</p>
      <% else %>
        <%= render "shared/table_points", points: @points %>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function compareClassification(elementA, elementB) {
    if (
      !['good', 'neutral', 'bad', 'blocker'].includes(elementA.dataset.classification)
      || !['good', 'neutral', 'bad', 'blocker'].includes(elementB.dataset.classification)
    ) {
      return 0;
    }

    if (elementA.dataset.classification === elementB.dataset.classification) {
      return 0;
    }
    // Both do not have the same classification, so if one is good, that one is better:
    if (elementA.dataset.classification === 'good') {
      return -1;
    }
    if (elementB.dataset.classification === 'good') {
      return 1;
    }
    // Both do not have the same classification, and neither is good, so if one is neutral, that one is better:
    if (elementA.dataset.classification === 'neutral') {
      return -1;
    }
    if (elementB.dataset.classification === 'neutral') {
      return 1;
    }
    // Both do not have the same classification, and neither is good or neutral, so if one is bad, the other is a blocker:
    if (elementA.dataset.classification === 'bad') {
      return -1;
    }
    if (elementB.dataset.classification === 'bad') {
      return 1;
    }
  }

  document.getElementById('orderByPoint').addEventListener("click", (event) => {
    event.preventDefault();
    let elems =  document.getElementsByClassName("toSort");
    // convert nodelist to array
    var array = [];
    for (var i = 0; i < elems.length; i++) {
      array[i] = elems[i];
    }

    // perform sort depending on classname
    if(event.currentTarget.className=="btn btn-success"){
      array.sort((a, b) => compareClassification(b, a));
      event.currentTarget.classList.remove("btn-success");
      event.currentTarget.classList.add("btn-danger");
    }
    else if(event.currentTarget.className== "btn btn-danger"){
      array.sort(compareClassification);
      event.currentTarget.classList.remove("btn-danger");
      event.currentTarget.classList.add("btn-success");
    }
    // join the array back into HTML
    var output = "";
    for (var i = 0; i < array.length; i++) {
      output += array[i].outerHTML;
    }
    // append output to div 'points-table-container'
    document.getElementById('myTableBody').innerHTML = output;
  });
</script>
