<div class="point-holder">

  <div class="article-holder">
    <div class="article-point-header">
      <ul class="point-info">
        <li class="point-items">
          <div class="pl50">
            <span class="bolder">Service:</span> <%= @point.service.name %>
          </div>
          <div class="pl50">
            <span class="bolder">Status:</span> <%= @point.status %>
          </div>
          <div class="pl50">
            <span class="bolder">Rating:</span> <%= @point.rating %>
          </div>
          <div class="pl50">
            <span class="bolder">Changes:</span> <%= @point.versions.size %>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="article-holder">

    <div class="article-point-header">
      <h3 class="lighter"><%= @point.title %></h3>
    </div>

    <div class="article-point-text-holder p15">
      <div class="article-point-text pad-left pad-right">
        <span class="bolder">Analysis:</span> <%= @point.analysis %>
      </div>
    </div>

  </div>

  <% if @point.reasons.any? %>
    <%= render 'table_reasons' %>
  <% end %>

  <div class="row">
    <div class="container card-container">
      <%= render 'comments', comments: @comments %>
    </div>
  </div>

  <div class="m15 mw6">
    <ul class="point-info">
      <li class="point-items">
        <% unless current_user.nil? %>
        <% if current_user.id == @point.user_id %>
        <div>
          <%= link_to 'Edit', edit_point_path(@point), class: 'btn btn-primary' %>
        </div>
        <% end %>
        <% end %>
        <div class="pl15">
          <%= link_to 'All', points_path, class: 'btn btn-primary' %>
        </div>

        <% unless current_user.nil? %>
        <% if current_user.curator? %>
        <div class="pl15">
          <%= link_to 'Update Status', new_point_reason_path(@point), class: 'btn btn-primary' %>
        </div>
        <div class="pl15">
          <% if @point.status == "approved" %>
          <% if !@point.is_featured? %>
          <%= link_to 'Feature', featured_point_path(@point), method: :put, class: 'btn btn-primary' %>
          <% else %>
          <%= link_to 'Un-Feature', featured_point_path(@point), method: :put, class: 'btn btn-warning' %>
          <% end %>
          <% end %>
        </div>
        <div class="pl15">
          <%= link_to 'Delete', @point, method: :delete, class: 'btn btn-danger' %>
        </div>
        <% end %>
        <% end %>
      </li>
    </ul>
  </div>

</div>

