<div class="mw5 center bgw p15 mt30 mb30">


<div>
  <div>
    <ul class="point-info">
      <li class="point-items">
        <div class="point-service">
          <span class="bolder">Service:</span> <%= @point.service.name %>
        </div>
        <div class="point-status">
          <span class="bolder">Status:</span> <%= @point.status %>
        </div>
        <div class="point-rating">
          <span class="bolder">Rating:</span> <%= @point.rating %>
        </div>
      </li>
    </ul>
  </div>
  <h3 class="lighter"><%= @point.title %></h3>
  <div class="mt30">
    <span class="bolder">Analysis:</span> <%= @point.analysis %>
  </div>
</div>


<% if @point.reasons.any? %>

<div class="status-changes mt30">

  <table class="table table-striped">
    <thead class="thead thead-dark">
      <th scope="col">STATUS UPDATES</th>
      <th scope="col">REASON</th>
      <th scope="col">WHEN</th>
    </thead>
    <% @point.reasons.each do |reason| %>
    <tbody>
      <tr>
        <th scope="row"><%= reason.status %></th>
        <td><%= reason.content %></td>
        <td><%= time_ago_in_words reason.created_at %> ago</td>
      </tr>
    </tbody>
  <% end %>
</table>

</div>

<% end %>

<div class="mt30">
    <ul class="point-info">
      <li class="point-items">
        <% if current_user.id == @point.user_id %>
        <div>
          <%= link_to 'Edit', edit_point_path(@point), class: 'btn btn-primary' %>
        </div>
        <% end %>
        <div class="pl15">
          <%= link_to 'All', points_path, class: 'btn btn-primary' %>
        </div>

        <% if current_user.admin? %>
        <div class="pl15">
          <%= link_to 'Update Status', new_point_reason_path(@point), class: 'btn btn-primary' %>
        </div>
        <div class="pl15">
          <% if @point.status == "approved" %>
            <% if !@point.is_featured? %>
              <%= link_to 'Feature', featured_point_path(@point), method: :put, class: 'btn btn-primary' %>
            <% else %>
             <%= link_to 'Un-Feature', featured_point_path(@point), method: :put, class: 'btn btn-warning' %>
            <% end %>
          <% end %>
        </div>
        <div class="pl15">
          <%= link_to 'Delete', @point, method: :delete, class: 'btn btn-danger' %>
        </div>
        <% end %>
      </li>
    </ul>
</div>

</div>
