<ul>

<li>Service: <%= @point.service.name %></li>
  <li>Title: <%= @point.title %> </li>
  <li>Status: <%= @point.status %> </li>
  <li>Rating: <%= @point.rating %> </li>

</ul>


  <% if @point.reasons.any? %>
    <h3>Reasons:</h3>
    <ul>

  <% @point.reasons.each do |reason| %>
    <li><%= reason.reason %> <%= time_ago_in_words reason.created_at %> ago</li>
  <% end %>
    </ul>

<% end %>

<p> <%= link_to 'Update Point', edit_point_path(@point) %> </p>
