<% content_for :title do %>
  <title>Point <%= @point.id %> (ToS;DR Phoenix)</title>
<% end %>
<div class="row">
  <div class="col">
    <h4 class="lighter fl"><%= @point.title %></h4>
  </div>
  <div class="col text-right">
    <% if current_user %>
      <%= link_to 'Add Comment', new_point_point_comment_path(@point), class: "btn btn-primary btn-sm" %>
      <% if current_user.id == @point.user_id %>
        <%= link_to 'Edit Content', edit_point_path(@point), class: "btn btn-default btn-sm" %>
      <% elsif current_user.curator %>
        <%= link_to 'Review Point', review_path(@point), class: "btn btn-default btn-sm" %>
        <% if @point.status != 'approved' %>
          <%= link_to 'Approve Point', approve_path(@point), class: "btn btn-warning btn-sm" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-2">
    <span class="bolder">Service:</span> <%= link_to @point.service.name, service_path(@point.service), title: 'View this service' %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Status:</span> <%= status_badge @point.status %>
  </div>
  <div class="col-sm-2">
    <% if @point.case.nil? %>
     (no case yet!)
    <% else %>
      <span class="bolder">Case:</span> <%= link_to @point.case.title, case_path(@point.case), title: 'View this case' %>
    <% end %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Changes:</span> <%= @point.versions.size %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Source:</span> <a href=<%= @point.source %>>link</a>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Author:</span> <%= username @point.user_id %> <%= rank_badge User.find_by_id(@point.user_id) %>
  </div>
</div>

<br>
<br>

<% if @point.quoteText && @point.document %>
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-sm-10 col-sm-offset-1 p30 bgw">
      <blockquote>
        <%= hide_tags(@point.quoteText) %>
        <footer>
          <cite><%= link_to  @point.document.name, annotate_path(@point.service, anchor: "doc_#{@point.document_id}") %></cite>
        </footer>
      </blockquote>
      <% if current_user && current_user.id == @point.user_id || @point.status === 'approved-not-found' %>
        <!-- FIXME: include documentId in annotate_point_path -->
        <%= link_to  "Change excerpt", annotate_point_path(@point.service_id, @point.id) + '&document_id='+@point.document_id.to_s, { class: "btn btn-default pull-right" } %>
      <% end %>
    </div>
  </div>
<%- # We only link to the annotate view if documents are already available, -%>
<%- # since it currently is a challenge to add new documents (you need to know XPath). -%>
<%- # We can switch to always showing the link when annotation is the default way of reviewing. -%>
<% elsif current_user && current_user.id == @point.user_id && @point.service.documents.count > 0 %>
  <div class="row" style="margin-bottom: 1rem">
    <div class="col-sm-10 col-sm-offset-1 p30 bgw">
      <p>
        This point is not linked to a passage in this service's documents.
        <!-- FIXME: include documentId in annotate_point_path -->
        <%= link_to  "Link it now?", annotate_point_path(@point.service_id, @point.id) + '&document_id='+@point.document_id.to_s %>
      </p>
    </div>
  </div>
<% end %>
<% if @point.analysis && @point.analysis != "Generated through the annotate view" %>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 p30 bgw">
      <%= @point.analysis %>
    </div>
  </div>
<% end %>

<br>
<br>

  <%= render 'shared/comments', comments: @point.point_comments.includes([:spams]) %>

<br>
<br>

<% if !@point.versions.nil? %>

<div class="row">
  <div class="col-sm-12">
    <span class="bolder">We track editorial changes to analyses and updates to a point's status and display the previous versions here as part of an effort to promote transparency regarding our curation process.</span>
  </div>

</div>

<br>

<%= render 'table_versions' %>

<% else %>

<div class="row">
  <div class="col-sm-12">
    <span class="bolder">We track editorial changes to analyses and updates to a point's status and display the previous versions here as part of an effort to promote transparency regarding our curation process. Unfortunately, for this point, due to how it was stored in our database, there are no previous versions available for display.</span>
  </div>

</div>

<% end %>
