<% content_for :title do %>
  <title>Point <%= @point.id %> (ToS;DR Phoenix)</title>
<% end %>
<div class="row">
  <div class="col-sm-6">
    <h4 class="lighter fl"><%= @point.title %></h4>
  </div>
  <div class="col-sm-6">
    <% if current_user %>
    <% if current_user.curator %>
    <div class="dropdown btn-group fr">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            Update Point
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Edit Content', edit_point_path(@point) %></li>
            <li>
              <% if @point.status == "approved" %>
              <% if !@point.is_featured? %>
              <%= link_to 'Feature', featured_point_path(@point), method: :put%>
              <% else %>
              <%= link_to 'Un-Feature', featured_point_path(@point), method: :put %>
              <% end %>
              <% end %>
            </li>
            <li><%= link_to 'Add Comment', new_point_comment_path(@point) %></li>
        </ul>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-2">
    <span class="bolder">Service:</span> <%= link_to @point.service.name, service_path(@point.service), title: 'View this service' %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Status:</span> <%= @point.status %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Case:</span> <%= @point.case.title %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Changes:</span> <%= @point.versions.size %>
  </div>
  <div class="col-sm-2">
    <span class="bolder">Source:</span> <a href=<%= @point.source %>>link</a>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 p30 bgw">
    <%= @point.analysis %>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="container card-container">
    <%= render 'comments', comments: @comments %>
  </div>
</div>

<br>
<br>

<% if !@point.versions.nil? %>

<div class="row">
  <div class="col-sm-12">
    <span class="bolder">We track editorial changes to analyses and updates to a point's status and display the previous versions here as part of an effort to promote transparency regarding our curation process.</span>
  </div>

</div>

<br>

<%= render 'table_versions' %>

<% else %>

<div class="row">
  <div class="col-sm-12">
    <span class="bolder">We track editorial changes to analyses and updates to a point's status and display the previous versions here as part of an effort to promote transparency regarding our curation process. Unfortunately, for this point, due to how it was stored in our database, there are no previous versions available for display.</span>
  </div>

</div>

<% end %>

