<%= simple_form_for([@topic]) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :description %>
    <div class="form-inputs">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
