<header class="tc ph4">
  <h1 class="fw2 mv3">
    Topics
  </h1>
  <% if current_user.curator? %>
  <%= link_to 'Add Topic', new_topic_path, class: 'btn btn-primary' %>
  <% end %>
</header>

<%= render "shared/search"%>

<div class="row">
  <div class="container card-container">
    <div class="row">
      <div class="col-xs-12">
        <!-- card-inline-header -->
        <div class="card-inline card-inline-header">
          <div class="card-inline-item card-inline-service">
            Title
          </div>
          <div class="card-inline-item card-inline-contribution">
            Contributions
          </div>
          <div class="card-inline-item card-inline-contribution">
            Privacy related?
          </div>
          <div class="card-inline-item card-inline-options">
            Options
          </div>
        </div>
        <!-- actual card-inline -->
        <% if @topics.empty? %>
          <div class="card-inline">
            <div class="card-inline-item">
              No topics found
            </div>
          </div>
        <% else %>
          <% @topics.each do |t| %>
          <div class="card-inline">
            <div class="card-inline-item card-inline-service">
              <%= t.title %>
            </div>
            <div class="card-inline-item card-inline-contribution">
              <%= t.points.count %>
            </div>
            <div class="card-inline-item card-inline-contribution">
              <% if t.privacy_related? %>
                <i class="fa fa-check" aria-hidden="true"></i>
                <% else %>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <% end %>
            </div>
            <div class="card-inline-item card-inline-options">
              <%= link_to(topic_path(t), :class => 'btn') do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>

              <% if current_user.curator? %>

              <%= link_to(edit_topic_path(t), :class => 'btn') do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>

              <% end %>

            </div>
          </div>
          <!-- card-inline-END -->
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
