<% content_for :title do %>
  <title>Topic <%= @topic.title %> (ToS;DR Phoenix)</title>
<% end %>
<header class="tc ph4">
  <h1 class="fw2 mv3">
    <%= @topic.title %>
  </h1>
  <p class="fw2 mt0 lh-copy">
    <%= @topic.subtitle %>.
  </p>
  <p class="fw2 mt0 lh-copy">
    Privacy related: <%= @topic.privacy_related? ? "yes" : "no" %>
  </p>

  <p>
  <% if current_user %>
    <% if current_user.curator? %>
      <%= link_to 'Edit Topic', edit_topic_path(@topic), class: 'btn btn-primary' %>
      <%= link_to 'Delete Topic', @topic, method: :delete, class: 'btn btn-danger' %>
    <% end %>
    <%= link_to 'Add Comment', new_topic_topic_comment_path(@topic), class: 'btn btn-primary' %>
  <% end %>
  </p>
<div class="search-bar">
  <div id="custom-search-input">
    <div class="input-group col-xs-12">
      <%= form_tag(topic_path(@topic), method: :get) do %>
        <%= text_field_tag :query, "", class: "search-query form-control", placeholder: "Search for topic", value: @query %>

        <span class="input-group-btn">
          <%= button_tag(type: 'submit', class: "btn btn-danger button") do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="reset-btn">
    <%= link_to "Back", topic_path(@topic), class: "btn btn-default"%>
  </div>
</div>

</header>

<div class="row">
  <div class="col-xs-12 text-center">
  </div>
</div>
<div class="row">
  <div class="container card-container">
    <div class="row">
      <div class="col-xs-12">
        <!-- card-inline-header -->
        <div class="card-inline card-inline-header">
          <div class="card-inline-item card-inline-service">
            Services
          </div>
          <div class="card-inline-item card-inline-point">
            Title
          </div>
          <div class="card-inline-item card-inline-rating">
            Rating
          </div>
          <div class="card-inline-item card-inline-status">
            Status
          </div>
          <div class="card-inline-item card-inline-featured">
            Featured?
          </div>
          <div class="card-inline-item card-inline-options">
            View
          </div>
        </div>
        <!-- actual card-inline -->
          <% if @points.empty? %>
            <div class="card-inline">
              <div class="card-inline-item">
                No points found
              </div>
            </div>
          <% else %>
            <% @points.each do |p| %>
            <% if p.case&.classification == 'good' %>
              <% pointbox = "point-good" %>
            <% elsif p.case&.classification == 'neutral' %>
              <% pointbox = "point-neutral" %>
            <% elsif p.case&.classification == 'bad' %>
              <% pointbox = "point-bad" %>
            <% elsif p.case&.classification == 'blocker' %>
              <% pointbox = "point-blocker" %>
            <% end %>
            <div class="card-inline">
              <div class="card-inline-item card-inline-service">
                <%= p.service.name %>
              </div>
              <div class="card-inline-item card-inline-point">
                <%= p.title %>
              </div>
              <div class="card-inline-item card-inline-rating <%= pointbox %>">
              </div>
              <div class="card-inline-item card-inline-status">
                <%= p.status %>
              </div>
              <div class="card-inline-item card-inline-featured">
                <% if p.is_featured? %>
                <i class="fa fa-check" aria-hidden="true"></i>
                <% else %>
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="card-inline-item card-inline-options">
                <%= link_to(point_path(p), class: 'btn') do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
            <!-- card-inline-END -->
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>
<br>
 
  <%= render 'shared/comments', comments: @topic.topic_comments %>

<br>
<br>
