<div class="form-login">
  <div class="row row-form">
    <%= simple_form_for([@point, @point_comment]) do |f| %>
      <div class="form-inputs col-xs-12">
        <%= f.input :summary, hint: link_to("We support markdown!", "https://kramdown.gettalong.org/syntax.html", target: "_blank"), as: :text %>
      </div>
      <%= invisible_captcha :subject %>
      <div class="form-actions col-xs-4 col-sm-2 col-md-2">
        <%= link_to "Back", :back, class: "btn btn-default" %>
      </div>
      <div class="form-actions col-xs-8 col-sm-4 col-sm-offset-6 col-md-3 col-md-offset-7">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
