<div class="form-login">
  <div class="row row-form">
    <%= simple_form_for([@case]) do |f| %>
      <div class="form-inputs col-xs-12">
        <%= f.input :title, placeholder: "Case title", label: 'Title' %>
        <%= f.input :classification, as: :radio_buttons, collection: [['blocker', 0], ['bad', 2], ['neutral', 5], ['good', 8]] %>
        <%= f.input :score, placeholder: "50", label: 'Weight', hint: "Range: 0..100. Higher weight make good points extra good, and bad/blocker points extra bad. Higher weight points have more impact on a service's rating, and are also displayed more prominently in the review summaries on https://tosdr.org." %>
        <%= f.association :topic, collection: Topic.order('title ASC'), hint: "Pick the topic where the case applies" %>
        <%= f.input :description, as: :text , input_html: { rows: 3, class: "text-area" } %>
      </div>
  </div>
  <div class="row">
    <div class="form-actions col-xs-4 col-sm-2 col-md-2">
        <%= link_to "Back", :back, class: "btn btn-default" %>
    </div>
      <div class="form-actions col-xs-8 col-sm-4 col-sm-offset-6 col-md-3 col-md-offset-7">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
