<header class="tc ph4">
  <h1 class="fw2 mv3">
    All Cases
  </h1>
  <% if current_user.curator? %>
  <%= link_to 'Add Case', new_case_path, class: 'btn btn-primary mb15' %>
  <% end %>
</header>

<div class="text-center search-bar mb15">
  <%= render "shared/search" %>
</div>

<div class="row">
  <div class="container card-container">
    <div class="row">
      <div class="col-xs-12">
        <!-- card-inline-header -->
        <div class="card-inline card-inline-header">
          <div class="card-inline-item card-inline-service">
            Title
          </div>
          <div class="card-inline-item card-inline-contribution">
            Contributions
          </div>
          <div class="card-inline-item card-inline-options">
            Options
          </div>
        </div>
        <!-- actual card-inline -->
        <% if @cases.empty? %>
          <div class="card-inline">
            <div class="card-inline-item">
              No cases found
            </div>
          </div>
        <% else %>
          <% @cases.each do |t| %>
          <div class="card-inline">
            <div class="card-inline-item card-inline-service">
              <%= t.title %>
            </div>
            <div class="card-inline-item card-inline-contribution">
              <%= t.points.count %>
            </div>
            <div class="card-inline-item card-inline-options">
              <%= link_to(case_path(t), class: 'btn') do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>

              <% if current_user.curator? %>

              <%= link_to(edit_case_path(t), class: 'btn') do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>

              <% end %>

            </div>
          </div>
          <!-- card-inline-END -->
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
