<% content_for :title do %>
<title>Case <%= @case.id %>: <%= @case.title %></title>
<% end %>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h3><%= @case.title %></h3>
        <p><%= @case.description %></p>
      </div>

      <div class="col-lg-6 text-right">
        <p>Classification: <%= @case.classification %></p>
        <p>Weight: <%= @case.score %></p>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-6">
        <% if current_user %>
          <% if current_user.curator? %>
            <%= link_to 'Edit Case', edit_case_path(@case), class: 'btn btn-primary smaller-btn-text' %>
          <% end %>
            <%= link_to 'Add Comment', new_case_case_comment_path(@case), class: 'btn btn-link smaller-btn-text' %>
        <% end %>
      </div>

      <div class="col-lg-6 form-inline text-right justify-content-end">
        <% if current_user&.curator? %>
          <%= link_to 'Delete Case', @case, method: :delete, class: 'btn btn-danger smaller-btn-text' %>
        <% end %>
      </div>
    </div> <!--/.float-right -->
    <br>
    <% if @points.empty? %>
      <p>There are no points to display at this time!</p>
    <% else %>
      <%= render "shared/table_points", points: @points %>
    <% end %>
  </div>
</div>

<br>
<br>

  <%= render 'shared/comments', comments: @case.case_comments.includes([:spams]) %>
