<div class="row">
  <div class="col-xs-12">
    <!-- card-inline-header -->
    <div class="card-inline card-inline-header">
      <div class="card-inline-item card-inline-comment">
        <b>Comments:</b>
      </div>
    </div>
    <!-- actual card-inline -->
    <% if comments.empty? %>
      <div class="card-inline">
        <div class="card-inline-item">
          No comments found
        </div>
      </div>
    <% else %>
      <% comments.sort_by { |obj| obj.created_at }.each do |c| %>
      <div class="card-inline">
        <div class="card-inline-item card-inline-service">
          <h6>On <%= c.created_at %>, <%= username c.user_id %> <%= rank_badge User.find_by_id(c.user_id) %> wrote:</h6>
          <%=simple_format c.summary %>
        </div>
        <div class="">
          <% if c.spams.any? %>
            <span class="text-danger"> Flagged as spam </span>
          <% else %>
            <% if current_user && (current_user.admin? || current_user.curator?) %>
              <%= link_to 'Flag as spam', flag_as_spam_path(spammable_type: c.class.name, spammable_id: c.id), class: "text-info"%>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- card-inline-END -->
      <% end %>
    <% end %>
  </div>
</div>
