<div class="navbar-tosdr navbar-fixed-top">
  <!-- Left Navigation -->
  <div class="navbar-tosdr-left">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-tosdr-brand" do %>
      <div class="navbar-tosdr-title">
        <%= image_tag "favicon.ico" %>
        <strong>ToS;</strong>DR
      </div>
    <% end %>
    <% unless current_user.nil? %>
      <%= link_to "Find a service to annotate", services_path, class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-tosdr-right hidden-xs hidden-sm">

    <!-- Links -->
    <% unless current_user.nil? %>
      <div class="navbar-tosdr-group">
        <%= link_to "Points", points_path, class: "navbar-tosdr-item navbar-tosdr-link" %>
        <%= link_to "Cases", cases_path, class: "navbar-tosdr-item navbar-tosdr-link" %>
        <%= link_to "Topics", topics_path, class: "navbar-tosdr-item navbar-tosdr-link" %>
        <%= link_to "Services", services_path, class: "navbar-tosdr-item navbar-tosdr-link" %>
        <%= link_to "Documents", documents_path, class: "navbar-tosdr-item navbar-tosdr-link" %>
      </div>
    <% end %>
    <div class="navbar-tosdr-group">
      <div class="navbar-tosdr-item">
        <!-- todo make the data toggle when user is logged in -->
        <div class="dropdown">
          <%= link_to "About", about_path, class: "navbar-tosdr-item navbar-tosdr-link" %>

          <% if current_user %>
            <%= link_to "Menu", "#", class: "navbar-tosdr-item navbar-tosdr-link dropdown-toggle", id: "navbar-tosdr-menu", 'data-toggle' => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-tosdr-dropdown-menu">
              <li>
                <%= link_to my_points_path do  %>
                  <i class="fa fa-check-square-o"></i> <%= t(".profile", default: "My points") %>
              <% end %>
              </li>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-cogs"></i> <%= t(".profile", default: "Settings") %>
              <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :get do %>
                  <i class="fa fa-sign-out"></i> <%= t(".profile", default: "Log out") %>
              <% end %>
              </li>
            </ul>
          <% else %>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-tosdr-item navbar-tosdr-link dropdown-toggle", id: "navbar-tosdr-menu" %>
            <%= link_to "Sign up to contribute", new_user_registration_path, class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-tosdr-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tosdr-dropdown-menu">
        <% if current_user %>
          <li><%= link_to "Points", points_path  %></li>
          <li><%= link_to "Cases", cases_path %></li>
          <li><%= link_to "Topics", topics_path %></li>
          <li><%= link_to "Services", services_path  %></li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :get %></li>
        <% else %>
          <li><%= link_to "About", about_path, class: "navbar-tosdr-item navbar-tosdr-link" %></li>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-tosdr-item navbar-tosdr-link dropdown-toggle", id: "navbar-tosdr-menu" %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "navbar-tosdr-item navbar-tosdr-link dropdown-toggle" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
