
<div class="table-responsive">
  <table id="myTable" class="table table-striped">
    <% service = false unless service %>
    <thead>
      <tr>
        <% unless service %>
        <th scope="col">Service</th>
        <% end %>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Status</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody id="myTableBody">
    <% points.each do |point| %>
      <% if point.case&.classification == 'good' %>
        <% pointbox = "point-good" %>
      <% elsif point.case&.classification == 'neutral' %>
        <% pointbox = "point-neutral" %>
      <% elsif point.case&.classification == 'bad' %>
        <% pointbox = "point-bad" %>
      <% elsif point.case&.classification == 'blocker' %>
        <% pointbox = "point-blocker" %>
      <% end %>
      <tr class="toSort" data-classification="<%= point.case&.classification %>">
        <% unless service %>
          <th scope="row"><%= point.service.name %></th>
        <% end %>
        <td><%= link_to point.quoteText ? "\"" + point.quoteText + "\"" : point.title, point_path(point), title: "View more details" %></td>
        <td class="<%= pointbox %>"></td>
        <td> <%= point.status %> </td>
        <td><%= username point.user %> <% if User.find_by_id(point.user).admin? %><sup><span class="label label-danger">Team</span></sup><% elsif User.find_by_id(point.user).curator? %><sup><span class="label label-primary">Curator</span></sup><% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
