<% content_for :title do %>
  <title>Edit <%= @document_type.name %></title>
<% end %>

<div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li class="lighter small"><%= link_to 'Back', document_type_path(@document_type) %></li>
    </ul>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <small>Document types <mark>classify</mark> legal documents. For more information, please inspect our  <%= link_to 'documentation', 'https://github.com/tosdr/terms-types' %>.</small>
      </div>
      <div class="panel-body">
        <span class="lighter">
          <h4>
            Update <%= @document_type.name %>
          </h4>
        </span>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <small>Document types allow us to <mark>normalize</mark> and <mark>organize</mark> documents. For a broader dictionary of <mark>individual documents</mark> and their <mark>document type</mark> classification, inspect our <%= link_to 'source code', 'https://github.com/tosdr/terms-dictionary/blob/master/type.rb'%>.</small>
      </div>
      <div class="panel-body">
        <br>
          <%= render 'form', document_type: @document_type, submit_text: @submit_text %>
        <br>
      </div>
    </div>
  </div>
</div>
