<header class="tc ph4">
  <h1 class="fw2 mv3">
    <strong>Terms of Service;</strong> Didn't Read
  </h1>
  <p>
    <strong>“I have read and agree to the Terms”</strong> is the biggest lie on the web. We aim to fix that.
  </p>
</header>
<h2>Welcome to our edit tool</h2>
<p>Using this online tool, you can help to update the content of the <a href="https://tosdr.org">ToS;DR website</a>. Below are the most recent changes people made. Above, you see the menu bar, where you can for instance navigate to the list of services, or to the points search page.
</p>

<% unless user_signed_in? %>
<div class="tc">
  <div class="btn btn-primary btn-sm"><%= link_to "Sign up to contribute", new_user_registration_path, style:"color: white;" %> </div>
  <div class="btn btn-secondary"><%= link_to "Login", new_user_session_path, style:"color: black;" %></div>
</div>
<% end %>

<h2>How it works</h2>
<p>A <em>service</em> is a website or online application, for instance YouTube. A <em>case</em> is an individual remark that can form part of the review of a service, for instance "you need to be 13 years old to use this service". A <em>point</em> links a case to a service, for instance "you need to be 13 years old to use YouTube". A <em>topic</em> is a search tag for cases.</p>
<p>To review a service's terms and conditions, first make sure the service is listed, and add it if not. Then read the actual terms and policies you have to agree to to use this service, and make a note about anything that you find remarkable. Find the existing case for each of these review remarks, or create it if necessary, and create a point to add that case as a remark in the review of the service. Use the <a href="https://github.com/tosdr/tosdr.org/wiki/checklist">checklist</a> to see if you forgot to review any aspects.</p>
<p>Then you need to wait for a curator to approve your changes, after which your review will show up on <a href="https://tosdr.org">https://tosdr.org</a>, will be picked up by the ToS;DR browser extensions, and included in DuckDuckGo's Privacy Grade, for which our API is one of several input factors. For services whose terms and policies are tracked by <a href="https://tosback.org">ToSBack</a>, you can try out our experimental <a href="/services/331/annotate">annotate view</a>.</p>
<p>This tool is still very much under construction, and has bugs. Please <a href="https://github.com/tosdr/phoenix/issues/new">open a github issue</a> for anything you think should be improved.</p>

<h2>Recent changes:</h2>
<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @versions.each do |version| %>
  <% counter += 1 %>
  <div class="panel panel-default" id="panel<%=counter%>">
    <div class="panel-heading" id="panel-style">
      <div class="row">
        <div class="col-sm-4">
          <h5>
            <b><%= version.whodunnit %>:</b> <%= format_time(version.created_at) %>
          </h5>
        </div>
        <div class="col-sm-4">
          <h5>
            <%= version.event %>
            <a
            href="/<%= version.item_type.downcase %>s/<%= version.item_id %>" class="collapsed">
            <%= version.item_type %>
            <%= version.item_id %>
          </a>
        </h5>
      </div>
      <div class="col-sm-4 text-right">
        <a data-toggle="collapse" data-target="#collapse<%=counter%>" href="#collapse<%=counter%>" class="collapsed">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">details</span>
        </a>
      </div>
    </div>
  </div>
  <div id="collapse<%=counter%>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 mb15">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= version.object_changes %>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

<h2>Examples:</h2>
<div class="row" id="service-container">
  <% @services.each do |s| %>
  <div class="col-xs-12 col-sm-6 col-lg-4 serviceDiv" data-rating="<%= s.service_ratings %>">
    <!--CARD -->
    <div class="card">
      <h2 class="card-header card-service" title="<%= s.name %>">
       <%= s.name %>
     </h2>
     <div class="card-body card-block">
      <div class="card-text">
        <ul>
          <% s.points.each do |p| %>
          <% if p.is_featured? %>
          <% if p.rating.between?(7,10) %>
          <% point_icon = "point-good" %>
          <% elsif p.rating.between?(4,6) %>
          <% point_icon = "point-neutral" %>
          <% elsif p.rating.between?(2,3) %>
          <% point_icon = "point-bad" %>
          <% elsif p.rating.between?(0,2) %>
          <% point_icon = "point-blocker" %>
          <% end %>
          <li class="<%= point_icon %> xs-icon">
            <%= p.title  %>
          </li>
          <% end %>
          <% end %>
        </ul>
        <div class="card-badge <%= s.rating_for_view %>">
          <%= s.service_ratings %>
        </div>
      </div>
    </div>
    <div class="card-footer">
     <%= link_to "More", service_path(s.id), class: "btn btn-primary box-shadow-for-button" %>
   </div>
 </div>
</div>
<% end %>
</div>
