<% if @pending_points then %>
<h2>Points for you to review:</h2>
<%= render 'shared/table_points', points: @pending_points %>
<% end %>

<% if @change_request_points && @change_request_points.count > 0 then %>
  <h2>Points that need your attention:</h2>
  <%= render 'shared/table_points', points: @change_request_points %>
<% end %>

<% if @draft_points && @draft_points.count > 0 then %>
  <h2>Your drafts:</h2>
  <%= render 'shared/table_points', points: @draft_points %>
<% end %>

<% if @services then %>
<header class="tc ph4">
  <h1 class="fw2 mv3">
    <strong>Terms of Service;</strong> Didn't Read
  </h1>
  <p>
    <strong>“I have read and agree to the Terms”</strong> is the biggest lie on the web. We aim to fix that.
  </p>
</header>
<h2>Welcome to our edit tool</h2>
<p>Using this online tool, you can help to update the content of the <a href="https://tosdr.org">ToS;DR website</a>. Below are the most recent changes people have made. Above, you can see the menu bar, where you can navigate to the list of Services, or the Points search page.
</p>

<% unless user_signed_in? %>
<div class="tc">
  <div class="btn btn-primary btn-sm"><%= link_to "Sign up to contribute", new_user_registration_path, style:"color: white;" %> </div>
  <div class="btn btn-secondary"><%= link_to "Login", new_user_session_path, style:"color: black;" %></div>
</div>
<% end %>

<h2>How it works</h2>
<p>A <em>service</em> is a website or online application, for instance YouTube. A <em>case</em> is an individual remark that can form part of the review of a service, for instance "you need to be 13 years old to use this service"; each is assigned a <em>topic</em> to provide grouping. A <em>point</em> links a case to a service, for instance "you need to be 13 years old to use YouTube".</p>
<p>To review a service's terms and conditions, first make sure the service is listed, and <a href="https://forum.tosdr.org">raise it on the reviewers forum</a> if it isn't. Then read the actual terms and policies you have to agree to to use this service, and make a note about anything that you find remarkable. Find the existing case for each of these review remarks, or create it if necessary, and create a point to add that case as a remark in the review of the service. Use the <a href="https://github.com/tosdr/tosdr.org/wiki/checklist">checklist</a> to see if you forgot to review any aspects.</p>
<p>Then you need to wait for a curator to approve your changes, after which your review will show up on <a href="https://tosdr.org">https://tosdr.org</a>, will be picked up by the ToS;DR browser extensions, and included in DuckDuckGo's Privacy Grade, for which our API is one of several input factors. For services whose terms and policies are tracked by <a href="https://tosback.org">ToSBack</a>, you can try out our experimental <a href="/services/331/annotate">annotate view</a>.</p>
<p>This tool is still very much under construction, and has bugs. Please <a href="https://github.com/tosdr/edit.tosdr.org/issues/new">open a github issue</a> for anything you think should be improved.</p>


<h2>Examples (<%= link_to "see all", services_path %>):</h2>
<div class="row" id="service-container">
  <% @services.each do |s| %>
  <div class="col-xs-12 col-sm-6 col-lg-4 serviceDiv" data-rating="<%= s.rating %>">
    <!--CARD -->
    <div class="card">
      <h2 class="card-header card-service" title="<%= s.name %>">
       <%= s.name %>
     </h2>
     <div class="card-body card-block">
      <div class="card-text">
        <ul>
          <% s.points.each do |p| %>
          <li>
          <% if p.case&.classification == 'good' %>
          <i class="point-good xs-icon"></i>
          <% elsif p.case&.classification == 'neutral' %>
          <i class="point-neutral xs-icon"></i>
          <% elsif p.case&.classification == 'bad' %>
          <i class ="point-bad xs-icon"></i>
          <% elsif p.case&.classification == 'blocker' %>
          <i class="point-blocker xs-icon"></i>
          <% end %>
          &nbsp;<%= p.title  %>
        </li>
        <% end %>
        </ul>
        <% if s.rating == "N/A" %>
          <% badge_rating = "rating-na" %>
        <% else %>
          <% badge_rating = "rating-#{s.rating}" %>
        <% end %>
        <div class="card-badge <%= badge_rating %>">
          <%= s.rating %>
        </div>
      </div>
    </div>
    <div class="card-footer">
     <%= link_to "More", service_path(s.id), class: "btn btn-primary box-shadow-for-button" %>
   </div>
 </div>
</div>
<% end %>
</div>
<% end %>

<h2>Recent changes:</h2>
<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @versions.each do |version| %>
  <% counter += 1 %>
  <div class="panel panel-default" id="panel<%=counter%>">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <h5>
            <b><%= username version.whodunnit %><%= rank_badge User.find_by_id(version.whodunnit) %>
          </h5>
        </div>
        <div class="col-sm-4">
          <h5>
            <%= version.event %>d <!-- FIXME for i18n: make this literal 'd' a function to_past_tense in app/helpers/ -->
            <a
            href="/<%= version.item_type.downcase %>s/<%= version.item_id %>" class="collapsed">
            <%= version.item_type %>
            <%= version.item_id %>
          </a>
        </h5>
      </div>
      <div class="col-sm-4 text-right">
        <a data-toggle="collapse" data-target="#collapse<%=counter%>" href="#collapse<%=counter%>" class="collapsed">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">details</span>
        </a>
      </div>
    </div>
  </div>

  <div id="collapse<%=counter%>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12 mb15">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= version.object_changes %>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
