<header class="tc ph4">
  <h1 class="fw2 mv3">
    <strong>Terms of Service;</strong> Didn't Read
 </h1>
  <p>
    <strong>“I have read and agree to the Terms”</strong> is the biggest lie on the web. We aim to fix that.
  </p>
</header>

<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @versions.each do |version| %>
  <% counter += 1 %>
  <div class="panel panel-default" id="panel<%=counter%>">
    <div class="panel-heading" id="panel-style">
      <div class="row">
        <div class="col-sm-4">
          <h5>
              <b><%= version.whodunnit %>:</b> <%= format_time(version.created_at) %>
          </h5>
        </div>
        <div class="col-sm-4">
          <h5>
            <%= version.event %>
            <a 
              href="/<%= version.item_type.downcase %>s/<%= version.item_id %>" class="collapsed">
              <%= version.item_type %>
              <%= version.item_id %>
            </a>
          </h5>
        </div>
        <div class="col-sm-4 text-right">
          <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true">details</span>
          </a>
        </div>
    </div>
  </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 mb15">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <%= version.object_changes %>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

