<header class="tc ph4">
  <h1 class="fw2 mv3">
    <strong>Terms of Service;</strong> Didn't Read
 </h1>
  <p>
    <strong>“I have read and agree to the Terms”</strong> is the biggest lie on the web. We aim to fix that.
  </p>
</header>

<div class="col-xs-12 text-center search-bar">
<%= render "shared/search" %>
</div>
  <button class="btn btn-lg" onClick=orderByName()> order by name </button>
  <%= javascript_tag do %>

  function swapSibling(node1, node2) {
       node1.parentNode.replaceChild(node1, node2);
       node1.parentNode.insertBefore(node2, node1);
     }
   function bubbleSort(a)
   {
       var swapped;
       do {
           swapped = false;
           for (var i=0; i < a.length-1; i++) {
               if (a[i] > a[i+1]) {
                   var temp = a[i];
                   a[i] = a[i+1];
                   a[i+1] = temp;
                   swapped = true;
               }
           }
       } while (swapped);
   }
   orderByName = function(){
    let elems =  document.querySelectorAll(".serviceDiv");

// convert nodelist to array
var array = [];
for (var i = elems.length >>> 0; i--;) {
    array[i] = elems[i];
}
console.log(array[0].dataset);
// perform sort
array.sort(function(a, b) {
  var titleA=a.dataset.rating.toLowerCase(), titleB=b.dataset.rating.toLowerCase()
 if (titleA < titleB) //sort string ascending
     return -1
 if (titleA > titleB)
     return 1
 return 0 //default return value (no sorting)

});
console.log(array);
// join the array back into HTML
var output = "";
for (var i = 0; i < array.length; i++) {
    output += array[i].outerHTML;
}
// append output to div 'myDiv'
document.getElementById('service-container').innerHTML = output;


      };
    <% end %>
  <div class="row row-form" id="service-container">
    <% @services.each do |s| %>
      <div class="col-xs-12 col-sm-6 col-lg-4 serviceDiv" data-rating="<%= s.service_ratings %>" >

        <% if s.service_ratings == "A" %>
          <% grade = "rating-a" %>
        <% elsif s.service_ratings == "B" %>
          <% grade = "rating-b" %>
        <% elsif s.service_ratings == "C" %>
          <% grade = "rating-c" %>
        <% elsif s.service_ratings == "D" %>
          <% grade = "rating-d" %>
        <% elsif s.service_ratings == "F" %>
          <% grade = "rating-f" %>
        <% else %>
          <% grade = "rating-na" %>
        <% end %>

        <!-- CARD -->
        <div class="card">
          <div class="card-service">
            <%= s.name %>
          </div>
          <div class="card-block">
            <div class="card-left">
              <div class="card-left-item card-badge <%= grade %>">
                <%= s.service_ratings %>
              </div>
              <%= link_to "More", service_path(s.id), class: "btn btn-primary box-shadow-for-button" %>
            </div>
            <div class="card-text">
              <ul>
                <% s.points.each do |p| %>
                  <% if p.is_featured? %>
                    <% if p.rating.between?(7,10) %>
                      <% point_icon = "point-good" %>
                    <% elsif p.rating.between?(4,6) %>
                      <% point_icon = "point-neutral" %>
                    <% elsif p.rating.between?(2,3) %>
                      <% point_icon = "point-bad" %>
                    <% elsif p.rating.between?(0,2) %>
                      <% point_icon = "point-blocker" %>
                    <% end %>
                    <li class="<%= point_icon %> xs-icon">
                      <%= p.title  %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- CARD-END -->
      </div>
    <% end %>
  </div>
