<%= simple_form_for [document] do |f| %>
  <span class="lighter">
    <%= f.association :service, collection: services, hint: "If your service isn't on the list, please contact the team" %>

    <% if document.name.present? %>
      <label class="sr-only" for="inputHelpBlock">Name</label>
      <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock" placeholder="<%= document.name%>" readonly>
      <span id="helpBlock" class="help-block">To change the document name, please select a new document type</span>
    <% end %>

    <%= f.association :document_type, collection: document_names, hint: "Inspect the document types and their descriptions #{link_to 'here', document_types_path}".html_safe %>
    
    <%= f.input :url, hint: "The web location at which we can fetch the text of this document", placeholder: "e.g. \"https://www.facebook.com/about/privacy\"" %>
    
    <%= f.input :selector, input_html: { value: (f.object.selector.present?) ? f.object.selector : 'body' }, placeholder: "e.g. \".products>a:nth-of-type(2)\"", hint: "The location of the terms on the web page using <a href=\"https://www.w3schools.com/cssref/css_selectors.php\" title=\"W3schools documentation of selectors\" target=\"_blank\">CSS selectors</a> - <a href=\"https://scrapfly.io/blog/css-selector-cheatsheet/\" title=\"CSS selectors cheat sheet\" target=\"_blank\">CSS selectors cheat sheet</a>".html_safe %>
    
    <%= f.input :crawler_server, collection: crawlers, label_method: :second, value_method: :first, hint: "<a href=\"https://to.tosdr.org/U98u1\">Select which crawler should be used (optional, useful if blocked by EU)</a>".html_safe, selected: document.crawler_server || "eu.crawler.api.tosdr.org" %>
  </span>
  
  <%= f.submit "Crawl Document", name: "only_create", class: 'btn btn-default lighter' %>
<% end %>
