<%= simple_form_for [@document] do |f| %>
  <script>
    let inputMethod = 'custom';
    function toggleInputMethod() {
      document.getElementById(inputMethod).style.display='none';
      if (inputMethod === 'custom') {
        inputMethod = 'from-main-page';
        document.getElementById('input-method').innerHTML='Specify name and URL';
      } else {
        inputMethod = 'custom';
        document.getElementById('input-method').innerHTML='Find on main page';
      }
      document.getElementById(inputMethod).style.display='block';
    }
  </script>
  <%= f.association :service, collection: Service.order('name ASC'), hint: "If your service isn't on the list, please contact the team" %>
  <div id="input-method" onclick="toggleInputMethod();" style="color:white;background-color:blue">Find on main page</div>
  <div id="from-main-page" style="display:none">
    <%= select_tag(:clickpath, options_for_select(@document.service.getMainPageLinks)) %>
  </div>
  <div id="custom" style="display:block">
    <%= f.input :name, hint: "Name of this document", placeholder: "e.g. \"Privacy Policy\"" %>
    <%= f.input :url, hint: "Where we should fetch this document", placeholder: "e.g. \"https://www.facebook.com/about/privacy\"" %>
  </div>
  <%= f.submit "Save", name: "only_create", class: 'btn btn-primary' %>
<% end %>
