<% content_for :title do %>
  <title>Documents</title>
<% end %>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <small><mark>Documents</mark> are the <mark>legal texts</mark> associated with a service.</small>
    </div>
    <div class="panel-body">
      <span class="lighter">
        <h3>Documents
          <% if current_user&.admin || current_user&.curator %> 
            <small>
              Can't find what you're looking for?
              <%= link_to 'Create', new_document_path %>
              a new document
            </small>
          <% end %>
        </h3>
      </span>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <br>
      <div class="row">
        <form class="navbar-form navbar-left" role="search">
          <%= search_form_for @q do |f| %>
            <div>
              <%= f.label :name_cont, class: "small lighter" %>
            </div>
            <div class="form-group">
              <%= f.search_field :name_cont, class: "form-control" %>
            </div>
            <%= f.submit class: "btn btn-default small" %>
          <% end %>
        </form>
        <form class="navbar-form navbar-left" role="search">
          <%= search_form_for @q do |f| %>
            <div>
              <%= f.label :service_name_cont, class: "small lighter" %>
            </div>
            <div class="form-group">
              <%= f.search_field :service_name_cont, class: "form-control" %>
            </div>
            <%= f.submit class: "btn btn-default small" %>
          <% end %>
        </form>
      </div>
      <% if @documents.empty? %>
        <p>No documents to display at this time</p>
      <% else %>
        <%= render "shared/table_documents", documents: @documents %>
      <% end %>
      <%= paginate @documents %>
    </div>
  </div>
</div>