<% content_for :title do %>
  <title>Document <%= @document.service.name %> <%= @document.name %> (ToS;DR Phoenix)</title>
<% end %>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h1><%= link_to @document.service.name, annotate_service_path(@document.service) %></h1>
        <h5><%= @document.name %></h5>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-lg-6">
        <% if policy(@document).update? %>
          <%= link_to 'Edit Document', edit_document_path(@document), class: 'btn btn-primary smaller-btn-text' %>
        <% end %>

        <% if policy(@document).crawl? %>
          <%= link_to 'Crawl Document', document_crawl_path(@document), method: :post, class: 'btn btn-link smaller-btn-text' %>
        <% end %>
        <%= link_to 'Add Comment', new_document_document_comment_path(@document), class: 'btn btn-link smaller-btn-text' %>
      </div>

      <div class="col-lg-6 form-inline text-right justify-content-end">
        <% if policy(@document).destroy? %>
          <%= link_to 'Delete Document', @document, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div> <!--/.float-right -->
    <br>
    <br>
    <span>
      <div class="overflow">
        <%= @document.text %>
      </div>
    </span>
    <br>
    <br>
  </div>
</div>

<br>
<br>

  <%= render 'shared/comments', comments: @document.document_comments.includes([:spams]) %>

<br>
<br>
