<% content_for :title do %>
  <title><%= @document.service.name %> <%= @name %></title>
<% end %>

<div class="card-inline">
  <div class="card-inline-item card-inline-service">
    <div class="row">
      <div class="col-lg-6">
        <h1><%= link_to @document.service.name, annotate_service_path(@document.service) %></h1>
        <h5>Document type: <mark><%= @name %></mark></h5>
        <% if @last_crawled_at %>
          <h5> Last crawled at: <mark> <%= @last_crawled_at %> </mark></h5>
        <% end %>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-lg-6">
        <% if policy(@document).update? %>
          <%= link_to 'Edit Document', edit_document_path(@document), class: 'btn btn-primary smaller-btn-text' %>
        <% end %>

        <% if policy(@document).crawl? %>
          <%= link_to 'Crawl Document', document_crawl_path(@document), method: :post, class: 'btn btn-link smaller-btn-text' %>
        <% end %>
        <%= link_to 'Add Comment', new_document_document_comment_path(@document), class: 'btn btn-link smaller-btn-text' %>
      </div>

      <div class="col-lg-6 form-inline text-right justify-content-end">
        <% if policy(@document).destroy? %>
          <%= link_to 'Delete Document', @document, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div> <!--/.float-right -->
    <br>
    <br>
    <div>
      <div>
        <% if @missing_points.any? %>
          <p>
            <span class="label label-warning">Attention!</span> Points are missing from the latest crawled text of this document. Total number of missing points: <%= @missing_points.length %>. Please <%= link_to 'review', annotate_service_path(@document.service) %> the text and create a new annotation if the point still exists, but has changed in exact wording or content. These points have a status of <span class="label label-success">QUOTE NOT FOUND</span>.
          </p>
        <% end %>
      </div>
      <br>
      <br>
      <div class="table-responsive">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th scope="col" class="lighter">Point Title</th>
              <th scope="col" class="lighter text-left">Rating</th>
              <th scope="col" class="lighter text-right">Status</th>
              <th scope="col" class="lighter text-right">Author</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% @points.each do |point| %>
            <% if point.case&.classification == 'good' %>
              <% pointbox = "point-good" %>
            <% elsif point.case&.classification == 'neutral' %>
              <% pointbox = "point-neutral" %>
            <% elsif point.case&.classification == 'bad' %>
              <% pointbox = "point-bad" %>
            <% elsif point.case&.classification == 'blocker' %>
              <% pointbox = "point-blocker" %>
            <% end %>
            <tr>
              <td class="small"><mark><%= link_to point.display_title, point_path(point), title: "View point" %></mark></td>
              <td class="small text-right <%= pointbox %>"></td>
              <td class="small text-right"><%= status_badge point.status %></td>
              <td class="small text-right"><%= username point.user %> <%= rank_badge point.user %></td>
              <td></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </div>
</div>

<br>
<br>

<%= render 'shared/comments', comments: @document.document_comments.includes([:user, :spams]) %>

<br>
<br>
