<div class="form-login">
  <div class="row row-form">
    <%= simple_form_for([@document, @document_comment]) do |f| %>
      <div class="form-inputs col-xs-12">
        <%= f.input :summary, hint: link_to("We support markdown!", "https://kramdown.gettalong.org/syntax.html", target: "_blank"), as: :text %>
      </div>
      <%= invisible_captcha :subject %>
      <div class="form-actions col-xs-3 col-sm-2 col-md-2">
        <%= link_to "Back", :back, class: "btn btn-default" %>
      </div>
      <div class="form-actions col-xs-9 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-6">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
