<% content_for :title do %>
  <title>DocRevisions (ToS;DR Phoenix)</title>
<% end %>
<header class="tc ph4">
  <h1 class="fw2 mv3">
    All DocRevisions
  </h1>
  <%= link_to 'Add DocRevision', new_doc_revision_path, class: 'btn btn-primary mb15' %>
</header>

<div class="text-center search-bar mb15">
  <%= render "shared/search" %>
</div>

<div class="row">
  <div class="container card-container">
    <div class="row">
      <div class="col-xs-12">
        <!-- card-inline-header -->
        <div class="card-inline card-inline-header">
          <div class="card-inline-item card-inline-service">
            Title
          </div>
          <div class="card-inline-item card-inline-contribution">
            Contributions
          </div>
          <div class="card-inline-item card-inline-options">
            Options
          </div>
        </div>
        <!-- actual card-inline -->
        <% if @docRevisions.empty? %>
          <div class="card-inline">
            <div class="card-inline-item">
              No docRevisions found
            </div>
          </div>
        <% else %>
          <% @docRevisions.each do |d| %>
          <div class="card-inline">
            <div class="card-inline-item card-inline-service">
              <%= d.name %>
            </div>
            <div class="card-inline-item card-inline-options">
              <%= link_to(doc_revision_path(d), class: 'btn') do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>

              <% if current_user && current_user.curator? %>

              <%= link_to(edit_doc_revision_path(d), class: 'btn') do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>

              <% end %>

            </div>
          </div>
          <!-- card-inline-END -->
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
